#entete_contenu
{
    margin-bottom:0.4em;
}

#entete_contenu h2
{
    min-height:1.2em;
    font-size:1.4em;
    float:left;
    display:inline;
    width:55%;
    line-height:1.2em;
}

#entete_contenu ul
{
    float:right;
    width:35%;
    margin:0.1em 0;
    text-align:right;
    display:inline;
    padding-left: 0;
}

#entete_contenu ul li
{
    display:inline;
    vertical-align:bottom;

}

#entete_contenu ul li img
{
    vertical-align:bottom;
}


#entete_contenu ul li.ici
{

    border:1px solid #aeaeae;
}

.queries
{
    float:right;
    margin: 1em 1.1em 0 0;
}

.queries select
{
    border: 1px solid gray;
font-size: 1em;
padding: 0.2em 0.2em;
border-radius:2px;
}

div.pagination
{
    float:left;
    margin-right:0 !important;
}

ul#calendrier_menu
{

    float:right;
    margin:0;
    padding:0;
    background:#eaeaea;
    list-style:none;
    font-size:1.2em;
    /* border:1px solid red; */
}

/* Evenements */
#evenements
{
    width:94%;
    margin:0em auto 0em auto;
    color:#5C7378;
    /* border:1px solid #aeaeae; */

}

#evenements h3
{
    font-size:1.4em;
    color:#5C7378;
    letter-spacing:0.05em;
    background-color:#f0f0f0; 
    padding:0.2em;
    border-top:1px solid #aeaeae;
    margin:1em 0 0 0;
}

#evenements .genre-titre
{
    margin:0.8em 0 0 0;
    padding:0em 0;
    background-color:#ffdd44;
    width:100%;

}

#evenements h4
{
    float: left;
    padding:0.4em 0.2em;
    font-size:1.2em;
    color:#5C7378;
    letter-spacing:0.05em;
    font-weight:bold;
}


#evenements div.genre .genre-jump
{

    margin:0.2em 0.2em;
    float: right;
    padding: 0.4em 0.8em;
    background:#ffd100;
    border-radius: 3px;
    opacity: 0.8;
}	

#evenements div.genre  .genre-jump:hover
{
    background:#ddd;
}	

#evenements h5
{
    font-size:1em;
    color:#999;
    padding:0 0.2em;
    margin:0.2em auto 0.8em auto;
    width:99%;
}

/* #evenements h3
{
        margin:0.4em 0em 0.2em 0em;
        padding:0 0 0 0.2em;
        font-size:1em;
        height: 1em;
        color:#5C7378;
        font-variant:small-caps;

} */

#evenements p
{
    width:90%;
    margin: 1em auto 2em auto;
    font-size:1.1em;
    color:#5C7378;
}



#evenements ul.menu_ascenseur
{
    float:right;
    display:inline;
    /* border:#eaeaea 1px solid; */
}

#evenements ul.menu_ascenseur li
{
    display:inline;
    /* background-color:aqua; */
}

#evenements ul.menu_ascenseur li img
{

    margin:0.2em 0;
}
/*Fin evenements  */
#evenements ul.menu_ascenseur li a.vertical
{
}


/* Evenement */
.evenement
{
    width:100%;


    padding :0px;
    margin: 1.4em auto 1.4em auto;
    /* border: 1px dotted #E3AD4A; */

}

.evenement p {
    margin-top:0.1em;
}




.evenement .titre
{
    border-top:1px dotted #aeaeae;
    font-size: 1.1em;
    line-height:1.2em;
    padding:0.2em 0.2em;
}

.evenement .titre .left {
    float : left;
    text-align : left;
    width : 59%;
    /* background: lime; */ 
    padding: 0px 0px 0px 0em;
    font-weight: bold;
    margin:0;

}



.evenement .titre .right {
    float : right;
    text-align : right;
    width : 41%;
    margin:0;
    /* background: yellow; */
    padding: 0px 0em 0px 0px;
    font-weight : bold;
}

.evenement .titre #titre, #nom_lieu
{
    display:block;
    background-color:#FDD017;
}



.evenement .titre a:active {

    color:#5C7378;
    margin:0;
    /*#42454D*/
}

.evenement .titre a:hover {

}

.evenement .titre .left a:visited {
 color:#105199; /*  #104d91*/   
}

.evenement .description
{
    margin:0 0 0 101px;
    padding: 1px 0 0.2em 5px;
    color: #3E5355;
    background:  #F9F9F9;
    line-height:1.4em;
    font-size:0.9em;
    min-height: 150px;
}

.evenement .description a
{
    color:#115BCC;
}

.evenement .description h2
{
    font-size:1em;
    font-weight:bold;
    margin-top:0.7em;
    margin-bottom:0.2em;
}


.evenement .pratique
{
    background-color:#EFEFEF;

    font-size:0.8em;
    padding:2px 5px;
    line-height:1.2em;
    margin-top:2px;
}

.evenement .pratique .left
{
    float : left;
    text-align : left;
    width : 40%;
    margin:0;
    padding: 2px 0px 2px 0.5%;
    /*  background:aqua;   */
}

.evenement .pratique .right {
    float : right;
    text-align : right;
    width :40%;
    padding: 2px 0.5% 2px 0px;
    /*   background:pink;   */
}

.evenement .flyer
{
    float : left;
    width : 100px;
    height : 150px;
    background : #f2f2f2;
    padding: 1px 1px 0px 1px;
    margin:3px 0% 0% 0%;
    overflow:hidden;
}

.evenement .flyer a
{
    text-decoration:none;
}


.evenement .edition
{

    /* border:1px solid #aeaeae;  */
    height:1.6em;
    font-size:0.9em;
}

ul.menu_action
{	float:left;	
    height:1.6em;
   margin-top: 0.3em;

    display:inline;
}

ul.menu_action li
{

    height:1.6em;
    display:inline;
    margin:0 0.8em 0 0em;
    /* border:1px solid red; */
}

ul.menu_action li img
{
    vertical-align: middle;
}


ul.menu_edition
{
    float:right;
    height:1.6em;
    text-align:right;
    padding:0.4em 0;
}

ul.menu_edition li
{

    height:1.6em;
    display:inline;	margin:0 0em 0 0em;
    /* border:1px solid red; */
}

ul.menu_edition li img
{
    vertical-align: middle;
}

.nb_commentaires
{
    padding:0 0em 0 16px;
    background-image:url(../images/interface/icons/comment.png);
    background-repeat:no-repeat;
    background-position: 0% 30%;
} 
.en_favori
{
    padding:0 0em 0 16px;
    background-image:url(../images/interface/icons/heart.png);
    background-repeat:no-repeat;
    background-position: 0% 30%;
} 

#evenements_s
{

}


.evenement_s
{
    margin:0 auto 0 auto;
    width:80%;

}



.evenement_s #flyer
{
    float:left;
}

.evenement_s .titre
{
    background:orange;
}



table#evenements_s
{
    width:94%;
    border:1px solid gray;
    border-collapse:collapse;
    margin: 1em auto 2em auto;
}

#evenements_s tr
{
    background:#F9F9F9;
    margin:0.4em 0;
}


#evenements_s tr th
{
    font-size:1.3em;
    color:#5C7378;
    border-top:1px solid #aeaeae;
    margin:0.4em 0em 0.2em 0em;
    padding:0.2em 0 0.2em 0.2em;
    background-color:#eaeaea;
    font-variant:small-caps;
    letter-spacing:0.05em;
}

#evenements_s tr.genre
{
    background-color:#ffdd44;/*#F7CF45;*/

}


#evenements_s tr td
{
    padding:0.4em 0.1em 0.4em 0.1em;
    text-align:left;
    border-bottom:dotted 1px gray;
    vertical-align:top;
    color:#5C7378;
    line-height:1.25em;
    font-size:0.9em;
}

#evenements_s tr td h2
{
    margin:0.2em;
    font-weight:bold;font-size:1.1em;
}

#evenements_s tr td h2.titre a:visited {
    color:#105199; /*  #104d91*/   
}

#evenements_s tr td.action
{
    text-align:center;
    vertical-align:top;
}

#evenements_s tr td p
{
    margin:0.2em;
}

/* Selection */
#selection
{

    color:#5C7378;
    background:#F9F9F9;
}


#selection h2
{
    margin:0.8em 0em 0.2em 0em;
    font-size:1em;
    font-weight:bold;
}

#selection ul.menu_selection
{
    margin:0.4em 0 1.4em 0.4em;
    padding:0.4em 0 0 0;
    border-top:dotted 1px #aeaeae;
    list-style-type: none;

}

#selection ul.menu_selection li
{
    margin:0em 0em 0.4em 0em;

}

#selection ul.menu_selection li.ici
{
    font-weight:bold;
}

#menu_genre
{
    /*
    font-weight:bold;
    */
    font-size:1.2em;
}

#menu_genre li
{
    padding:0.2em 0.1em;
}

#menu_genre li.ici
{
    color:#fff;

    background-color:#eaeaea;
    border:0;
}

.vers_jour
{
    padding:0 0em 0 16px;
    background-image:url(../images/interface/icons/bullet_arrow_bottom.png);
    background-repeat:no-repeat;
    background-position: 0 70%;
}

/* Fin selection */

table#evenements
{
    background-color:#0a0a0a;
}

table#evenements tr.evenement
{
    border-top:1px dotted gray;
}


