#breves
{	
	width:94%;
	margin:1em auto;
	border:1px solid #aeaeae;
	color:#5C7378;
	background:#fff;
	font-size:0.9em;
}

#breves h2
{
	padding:0.2em 0.1em;
	font-size:1.4em;
	font-weight:bold;
	color:#5C7378;
	background-color:#eaeaea;
	height:1.4em;
}

#breves h2 img
{
float:right;
margin:0.1em 0.2em;
}

#breves .breve_contenu
{
background:#fefefe;
margin:0 0 0.8em 0;
padding:0.2em 0.2em;
}

#breves .breve_contenu h3
{
font-size:1em;
font-weight:bold;
margin:1em 0em;
}

#breves .breve_contenu p
{
line-height:1.2em;
}




#breves .breve_contenu .auteur
{
margin:0.4em 0 0 0;
font-style:italic;
}

#breves .image img
{
float:right;
}