#evenements
{
width:94%;
margin:0em auto 0em auto;
color:#5C7378;
/* border:1px solid #aeaeae; */

}


/* #evenements .menu_date
{		background-color:#eaeaea;
	border-top:2px solid #aeaeae;
		height: 1.6em;
			padding:0 0 0 0.2em;
			margin:0em 0em 0.2em 0em;
} */


#evenements h3
{
	font-size:1.4em;
	color:#5C7378;
	letter-spacing:0.05em;
	background-color:#f0f0f0; 
	padding:0.2em;
	border-top:1px solid #aeaeae;
	margin:1.2em 0 1em 0;
}

#evenements p
{
	width:90%;
	margin: 1em 0 1em 0;
	font-size:1.1em;
	color:#5C7378;
}



evenements ul.menu_ascenseur
{
float:right;
display:inline;
/* border:#eaeaea 1px solid; */
}

#evenements ul.menu_ascenseur li
{
display:inline;
/* background-color:aqua; */
}

#evenements ul.menu_ascenseur li img
{

margin:0.2em 0;
}
/*Fin evenements  */



/* Evenement */
.evenement
{	
	width:100%;
	padding :0px;
	margin: 1.4em auto 1.4em auto;
	/* border: 1px dotted #E3AD4A; */

}

.evenement p {
	margin-top:0.1em;
}


.evenement .description
{
	margin:0;
	/*height: 156px;*/
	padding: 4px ;
	color: #59787A;
	background: #F9F9F9;
}

.evenement .description a
{
	color:#115BCC;
}

.evenement .description h2
{
font-size:1em;
font-weight:bold;
margin-top:0.7em;
margin-bottom:0.2em;
}

.evenement .titre
{
	border-top:1px dotted #aeaeae;
	font-size: 1.1em;
	line-height:1.2em;
	padding:0.2em 0.2em 0.6em 0;
}

.evenement .titre .left {
	float : left;
	text-align : left;
	width : 59%;
	/* background: lime; */ 
	padding: 0px 0px 0px 0em;
	font-weight: bold;
	margin:0;
	
}

.evenement .titre .right {
	float : right;
	text-align : right;
	width : 41%;
margin:0;
	/* background: yellow; */
	padding: 0px 0em 0px 0px;
	font-weight : bold;
}

.evenement .titre #titre, #nom_lieu
{
display:block;
background-color:#FDD017;
}



.evenement .titre a:active {

color:#5C7378;
margin:0;
/*#42454D*/
}

.evenement .titre a:hover {

}


.evenement .description
{
	margin:0 0 0 102px;
	padding: 0.4em;
	color: #59787A;
	background:  #F9F9F9;
	line-height:1.25em;
	font-size:0.9em;
	/*height:130px;*/
}

.evenement .description a
{
	color:#115BCC;
}

.evenement .description h2
{
font-size:1em;
font-weight:bold;
margin-top:0.7em;
margin-bottom:0.2em;
}


.evenement .pratique
{padding:0 0 0 102px;
 background-color:#EFEFEF;
	
	font-size:0.8em;
		padding:0;
		line-height:1.2em;
}

.evenement .pratique .left
{
	float : left;
	text-align : left;
	width : 40%;
	margin:0;
	padding: 2px 0px 2px 0.5%;
}

.evenement .pratique .right {
	float : right;
	text-align : right;
	width :40%;
	padding: 4px 0.5% 4px 0px;

}

.evenement .flyer
{
	float : left;
	width : 100px;
	background : #f2f2f2;
	padding: 1px 1px 0px 1px;
	margin:0% 0% 0% 0%;
	overflow:hidden;
}

.evenement .flyer a
{
	text-decoration:none;
}


.evenement .edition
{
	margin-top: 0.5em;
}

ul.menu_actions
{	float:right;	
height:1.6em;
	
	display:inline;
}
ul.menu_actions li
{


	display:inline;
	margin:0 0.8em 0 0em;
	/* border:1px solid red; */
}
