form#ajouter_editer
{
	margin: 1em 0em 1em 1em;
	 background:#fafafa;
	 padding:0.2em;
 	color:#505a5a;
 font-size:1em;
 line-height: 1.3em;
}

	form#ajouter_editer fieldset
	{
		margin-top:5px;
		margin-left:0.1em;
		background-color:#f2f2f2;
		padding:1em 0 1em 0.4em;
	}

		form#ajouter_editer fieldset legend
		{
			font-weight:bold;
			padding-left:0.8em;
		}

	form#ajouter_editer p
	{
		width:100%;
		padding: 0;
	}



form#ajouter_editer label 
{ 
	/* vertical-align: middle; */
	text-align: right;
	width: 10em;
	margin:0.3em 0.3em 0 0;
	padding: 0 0 0 0.4em;
	/* border: blue dashed 1px; */ 
}

	form#ajouter_editer label.continu
	{
		float:none;
		margin: 3px 3px 0 0;
	}
	
form#ajouter_editer label.large {
    margin: 0.3em 0.3em 0 0;
    padding: 0 0 0 0.4em;
    text-align: right;
    width: 16em;
}	

form#ajouter_editer input
{
	border:1px solid #aeaeae;
	padding:0.3em 0.3em;
	border-radius: 2px;
}

form#ajouter_editer textarea
{
	border:1px solid #aeaeae;
	padding:0.3em 0.3em;
	border-radius: 2px;
}

form#ajouter_editer select
{
	border:1px solid #aeaeae;
	padding:0.3em 0.3em;

	font-family:Verdana, Helvetica, sans;
	border-radius: 2px;
}

form#ajouter_editer optgroup
{
	font-family:Verdana, Helvetica, sans;
}

form#ajouter_editer input:focus
{
background-color:#ffc; 
/* border:2px solid #59787A; */
}


form#ajouter_editer select:focus
{
background-color:#ffc; 
/* border:2px solid #59787A; */
}




form#ajouter_editer  ul.radio
{

	vertical-align:middle;
	display:inline;
	/* border:1px solid red; */
}

form#ajouter_editer ul.radio li
{
	text-align:left;
	display:inline;
	vertical-align: middle;
	padding: 0em 0.4em;
	margin-top:0em;
	margin-bottom:0.5em;
	border:none;
	/* border:1px solid black; */
}

form#ajouter_editer  ul.radio li label
{
	
	float:none;
	margin:0;
	padding-left:0.2em;
}

form#ajouter_editer ul.radio li input.radio_horiz
{
vertical-align:middle;

border:none;
}


form#ajouter_editer  ul.radio_vert
{
    list-style-type: none;
	margin-left:10em;
	vertical-align:middle;
}

form#ajouter_editer ul.radio_vert li
{
	text-align:left;
	vertical-align: middle;
	padding: 0em 1em 0em 1em;
	margin-top:0em;
	margin-bottom:0.5em;
	border:none;
}

form#ajouter_editer  ul.radio_vert li label
{
	
	float:none;
	margin:0;
	padding-left:0.2em;
}

form#ajouter_editer ul.radio_vert li input
{
vertical-align:middle;

border:none;
}



form#ajouter_editer ul.checkbox
{
	vertical-align:middle;
	width:150px;
	padding-left:23px;
	/* border: 1px solid green; */
}

form#ajouter_editer  ul li.checkbox
{
text-align:right;
	vertical-align: middle;
	padding: 0em 1em 0em 1em;
	/* border:1px solid black;  */
}

form#ajouter_editer  ul li label.checkbox
{
	width:100px;
	vertical-align:middle;
	float:none;
/* 	border:1px solid blue; */
}

form#ajouter_editer  ul li input {

}

form#ajouter_editer h2
{
	font-size:1.1em;
}

form#ajouter_editer  table
{
	font-size: 0.9em;
}


form#ajouter_editer label h2
{
	/*border:1px solid red; */
}

form#ajouter_editer .clearfix
{
/*border-top: 1px solid #CCC;*/
}

form#ajouter_editer  .entreLabels
{
	width: 140px;
	margin:0 3px 0 0;
	padding-left:11em;
	/* border: blue dashed 1px; */


}

form#ajouter_editer .guideForm
{
	font-style: italic;
	color: gray;
	font-size:1em;
	padding-left:1em;
	margin:5px 0px 3px 0px;
}

form#ajouter_editer .guideChamp
{
	font-style: italic;
	margin:0.4em 0 0.8em 0;
	font-size:0.85em;
	padding:0em 0 0.2em 13em;
	line-height:1.2em;
	/* border:1px solid red; */
}

form#ajouter_editer  p.enteteForm
{
	width:5em;
	color: #EFF0E3;
	background-color:#aeaeae;
}

form#ajouter_editer p.piedForm
{
	width:94%;
	text-align:right;
	background-color:#d0d0d0;
	margin:0.1em 0em 0em 0em;
	padding:0.4em 3%;
	border-left:1px solid lightgray;
}

form#ajouter_editer input.submit
{
	background-color:#F9F9F9;
	font-weight:bold;
	border:1px solid black;
	padding:0.3em 0.4em;
}

form#ajouter_editer .checkbox
{
vertical-align: middle;
border: none;
}

form#ajouter_editer .fichier
{
border: 1px solid gray;

}

form#ajouter_editer .msg {
	font-size:0.95em;
	margin-left: 11em;
	padding:0.2em;
	background:yellow;
}

form#ajouter_editer label.probleme
{
text-align:right;
background-image: url(../images/interface/icons/exclamation.png);
background-repeat: no-repeat;
background-position: 3px 0px;

}

form#ajouter_editer .complete
{
background-image: url(../images/interface/icons/tick.png);
background-repeat: no-repeat;
background-position: 3px 0px;

}

	form#ajouter_editer .supImg
	{
	font-size:0.8em;
	margin-top:5px;
	margin-left:150px;
	}

		form .supImg img 
		{
			border:1px solid gray;
		}

/* Evenements */
form#ajouter_editer #evenements
{
float:left;
margin:0em 0em 0em 1em;
width:80%;
border:1px solid gray;
}

form#ajouter_editer #evenements h1
{
background:orange;
}

form#ajouter_editer #evenements h2
{
color:gray;
}
/*Fin evenements  */

form#ajouter_editer strong
{
font-weight:bold;
}

form#ajouter_editer table.fichiers_associes
{
font-size:1em;
background:white;
}

form#ajouter_editer table.fichiers_associes th
{
font-weight:bold;
text-align:center;
background:#e0e0e0;
}

form#ajouter_editer table.fichiers_associes td
{
vertical-align:middle;
padding:0.1em;
border-top:dotted 1px #eaeaea;
}

.menu_wikicode
{
padding-left:13em;
}

.menu_wikicode input
{
width:68px;
font-weight:bold;
font-family:Georgia;
}

.table
{
    margin-top: 0;
    width: 95%;
    border-collapse: collapse;
    color: #5C7378;
    background: #F7F7F5;   
}

.table tr{
    border-bottom : 1px solid #5C7378;
}

.table th
{
    font-weight: bold;
    padding: 0.5em ;
}

.table td
{
   
    padding: 0.5em;
    font-size: 1em;
    line-height: 1.3em;
}


.msg_ok_copy
{
	width:90%;
	margin:2em auto;
	padding:1em 0% 1em 6%;
	border-top:1px solid green;
	border-bottom:1px solid green;
	background-color: #dbe1db;
	background-image:url(../images/interface/icons/tick.png);
	background-repeat:no-repeat;
	background-position: 15px 17px;
	line-height:1.3em;    
}
