#entete_contenu
{
	height:auto;
/* 	padding:0.1em 1% 0.1em 1%; */
	margin-bottom:1em;
}

#entete_contenu h2
{
	float:none;
	line-height:1.2em;
}


#entete_contenu p
{
float:left;
}


#entete_contenu img
{
	float:right;
	max-width:45%;
}


#entete_contenu .info
{

	margin:10px 0 0;
	padding:2px 0 0 18px;
	font-weight:bold;
}


#titre_contenu
{
	margin:1em 3em 0em 3em;
}

ul.menu_actions
{
	margin:0em auto 0 auto;
	width:94%;
	text-align:right;
	padding:0;
}

ul.menu_actions li
{
	display:inline;
	padding:0.2em 0.2em;

}



.embleme {
float:right;
	margin: 0px 0px 0px 0px;
}

ul.menu_actions_lieu
{
	margin:0 auto 0 auto;
    padding: 0;
	width:94%;
	text-align:right;
	font-size:0.9em;
	margin-bottom:0.3em;
}

ul.menu_actions_lieu li
{
	display:inline;

		margin:0 0.2em;
}

#fiche
{
	width:94%;
	margin: 0em auto 0.4em auto;
	max-width:60em;
	min-height:320px;
	color:#5C7378;
	background-color: #F7F7F5;
}

	#fiche #pratique
	{
		background-color: #F7CF45;
		color:#2C2328;
		border-bottom: 1px dotted Gray;
	}

		#fiche #pratique ul
		{
			list-style-type: none;
            padding:0.2em;
		}
            
			#fiche #pratique ul li
			{
				margin:0.4em 0;
			}

		#fiche #pratique .liste
		{
			font-size:0.8em;
			color: #59787A;
			background: #F9F9F9;
		}

			#fiche #pratique .liste ul
			{
				padding:10px 5px 10px 5px;
				list-style:none;
				
			}

			#fiche #pratique .liste li
			{
				list-style:none;
				line-height:1.2em;
				margin:2px 0px 2px 0px;
			}

			#fiche #pratique ul li ul.salles
			{
				display:inline;
				border-bottom: none;
				
			}

			#fiche #pratique ul li ul.salles li
			{
			display:inline;
			margin:0 0.8em 0 0;

			}



	ul#menu_descriptions
	{
		display:block;
		margin:1.2em 0 0.8em 0;
		max-width:372px;
		height:1.4em;
		font-size:1em;
		color:#5C7378;
		border-bottom:1px dotted #5C7378;
		text-align:center;

	}

	ul#menu_descriptions li
	{
			float:left;
			display:block;
			text-align:center;
			padding:0 0.4em;
	}

		ul#menu_descriptions li a
		{
			width:40%;
			height:2em;
		}

		ul#menu_descriptions li.ici a
		{
			color:#5e5e5e;
			font-weight:800;
			background-color:#F7F7F5;
			padding:0.2em 0.4em 0.4em 0.4em;
			border-top:1px dotted #5C7378;
			border-left:1px dotted #5C7378;
			border-right:1px dotted #5C7378;
		}


	#fiche #descriptions
	{

		max-width:372px;
	}

		#fiche #descriptions .description
		{
			background-color: #F7F7F5;
			color:#3E5355;
			padding:5px 0.4em 5px 0.4em;
			line-height:1.4em;
		}

		#fiche  #descriptions .description p
		{
		
			margin:0em 1em 1em 0.4em;
		}

		#fiche #descriptions  .description h1
		{
			text-align:left;
			font-size: 1.2em;
		}

		#fiche #descriptions  .description h2
		{
			font-size: 1em;
		}

		#fiche #descriptions  .description pre
		{
			font-size:1em;
		}
        
		#fiche #descriptions .description h4
		{
			font-size: 1.05em;
            font-weight:bold;
            margin:0.4em;
			border:none
		}
        
		#fiche #descriptions .description blockquote
		{
            margin-left:0.5em;
            font-style: italic;
            border-left: 1px solid #bbb;
		}
        
		#fiche #descriptions .description .auteur
		{
			height:4em;
			vertical-align:middle;
			font-size: 0.8em;
			color: Gray;
			/* background: #eaeaea; */
			padding:0.4em;
			margin: 0 0 0  0.2em;
			font-style:italic;
		}

        
		#fiche #descriptions .description .auteur .left
		{

			float : left;
			vertical-align:middle;
		}

		#fiche #descriptions .description .auteur .right
		{

			float : right;
			text-align : right;
			vertical-align:middle;
			width : 49%;
		}

#fiche #medias
{
	float:right;
	margin:0px 0px 0px 5px;
	width:200px;
	color:#5C7378;
}

#fiche #medias #photo
{
	float: right;
	min-height: 200px;
	min-width: 200px;
	text-align: right;
}

#fiche #medias .section
{
	margin:1em 0;
}

#fiche #medias .section h3
{
	font-size:1em;
	font-weight:bold;
	padding: 0.4em 0;
	/* background:#fafafa; */
}

.icone
{
	width : 100px;
	height : 100px;
	background : #EDEDED;
}

/* Galerie d'images */
#galerie
{
	width:90%;
	background:#aeaeae;
	margin:1em 1em 1em 2em;
}

#photo2
{
	margin:2px 2px 2px 0px;
}

.galerie
{
 margin: 2px 6px 2px 0;
}






ul#menu_complement
{

	display:block;
	margin:2em auto 1em auto;
	width:94%;
	height:1.4em;
	font-size:1.15em;
color:#5C7378;
	border-bottom:1px dotted #5C7378;
		text-align:center;

}

ul#menu_complement li
{
		float:left;
		display:block;
		text-align:center;
		padding:0 0.3em;
		 
}


	ul#menu_complement li a
	{
		width:40%;
		height:2em;
	}

	ul#menu_complement li.ici a
	{

		color:#5e5e5e;
		font-weight:800;
		border-top:1px dotted #5C7378;
		border-left:1px dotted #5C7378;
		border-right:1px dotted #5C7378;

		background:#fefefe;

		padding:0.3em 0.5em 0.4em 0.5em;
	}


ul#menu_complement .ajouter_com
{
	font-size:0.8em;
	padding:0.2em 0 0.2em 1.4em;
	text-align:right;

	background-image:url(../images/interface/icons/comment_add.png);
	background-repeat:no-repeat;
	background-position:0% 50%;
}


ul#menu_complement .rss
{
	width:5%;
	text-align:right;
	float:right;

}





/* Prochains evenements */
#prochains_evenements
{
	margin:0em auto 2em auto;
	width:94%;
	color:#5C7378;

}

#prochains_evenements ul#menu_genre
{
	margin:0 0 0em 0em;
        /*
	/height:0.8em;
	/padding:0.6em 0;
        */
}

	#prochains_evenements ul#menu_genre li
	{
		display:inline;
		margin:0;
		padding:0.2em 1em 0.4em 1em;
	}

	#prochains_evenements #menu_genre  li.ici
	{
		background-color:#F7F7F5;
	}

	#prochains_evenements #menu_genre  li.rien
	{
		display:inline;
		margin:0px 0px 2px 0px;
		color:lightgray;
	}

#prochains_evenements table
{
	margin-top:0;
	width:100%;
	border-collapse:collapse;
	color:#5C7378;
	background:#F7F7F5;

}

#prochains_evenements table tr.ici
{
	background-color:#ff3;
}

#prochains_evenements table tr th
{

	text-align:left;
	background-color:#e0e0e0;
}


#prochains_evenements table tr td
{
	text-align:left;
	padding:0.4em;
	vertical-align:top;
	border-top:1px dotted #5C7378;
}

#prochains_evenements table tr td img
{


}



#prochains_evenements table td h3
{
	font-weight:bold;
	line-height: 1.3em;
}

#prochains_evenements table td h3 a:visited {
    color:#105199; /*  #104d91*/   
}

#prochains_evenements table td.mois
{
	font-weight:bold;
	border:none;
	padding: 0.5em 0.3em;
	font-size: 1.1em;
	line-height: 1.3em;
}

#prochains_evenements p
{
line-height:1.3em;
}

#prochains_evenements table td.flyer
{
width:50px;
height:80px;
overflow:hidden;
}

#prochains_evenements table td.flyer img
{

overflow:hidden;
}


#prochains_evenements table td p.pratique
{
	margin-top:0.5em;
	font-size:0.8em;
	padding:0.2em;
	background-color:#EFEFEF;

}

#prochains_evenements table tr.ici td p.pratique
{
	background-color:transparent;
    font-weight:bold;
}

#prochains_evenements table tr.ici td.flyer
{
width:50px;
background-color:transparent;
}

#prochains_evenements table td.lieu_actions_evenement
{
    width:60px
}

#prochains_evenements table td.lieu_actions_evenement ul
{
    padding: 0;
    margin:0;
}

#prochains_evenements table td.lieu_actions_evenement ul li
{
	display:inline;

}

#prochains_evenements table td p.description {
font-size: 0.95em;
}


#commentaires h5
{
	margin: 2em 0em 0.6em 0em;
	font-size:1.2em;
}

#commentaires .apres_evenement
{
	margin: 1.4em 1em 0.6em 1em;
}

#commentaires blockquote
{
	width:94%;
	margin: 1em auto 1em auto;
	padding:0.2em 0.2em;
	background:#fafafa;
	border:1px solid #eaeaea;
	line-height:1.2em;
}


#commentaires blockquote strong
{
	font-weight:bold;
}

#commentaires blockquote h2
{
	font-weight:bold;
	font-size:1.2em;
}


#commentaires blockquote .date
{

}


#commentaires blockquote .commentaire_de
{
	background:#eaeaea;
	height:1.4em;
	padding:0.2em;
	margin-bottom:0.4em;
}

#commentaires blockquote .commentaire_de .left
{
	float:left;

}

#commentaires blockquote .commentaire_de .right
{
	float:right;

}


	/*Ajouter commentaire */
	form#ajouter_editer
	{
		width:94%;
		margin:0 auto 0 auto;
		/* border:1px solid blue; */

	}

	 form#ajouter_editer label
	{
		float:left;
		text-align:right;
		width:10em;
	}

	form#ajouter_editer #commentaire
	{
		float:right;
		margin:0;
		padding:0.2em;
		border:1px solid #aeaeae;
		font-size:1.2em;
		margin:0;
		width:400px;
	}



	form#ajouter_editer #pied_form
	{
		background-color:#eaeaea;
		text-align:right;
		margin:0.2em 0;
		padding:0.5em 0.4em;
	}

	form#ajouter_editer #pied_form .submit
	{
		background-color:#fafafa;
		border:#909090 2px solid;
		padding:0.4em 0.6em;
	}

.menu_wikicode
{
padding-left:13em;
text-align:right;
}

.menu_wikicode input
{

width:55px;
font-weight:bold;
font-family:Georgia;
border:1px solid gray;
}

#statut_lieux
{

margin:1em 0 1em 0;
padding:0 0.2em;
}


.voir_lieux
{
	text-align:left;
	padding:0 0px 0 0;
	background-image:url(../images/interface/icons/building_go.png);
	background-repeat:no-repeat;
	background-position: 85% 50%;
}
