
/* FICHE */
#fiche
{
	width:96%;
	margin: 0em auto 0.4em auto;
	max-width:60em;
	min-width:25em;
	min-height:500px;
	
	background-color: #F7F7F5;
}

.vide
{
	min-height:200px;
}

	#fiche #pratique
	{
		background-color: #F7CF45;		
	}

		#fiche #pratique ul
		{
			padding:2px 2px 2px 2px;
			border-bottom: 1px dashed Gray;
		}

			#fiche #pratique ul  li
			{
				margin:0px 0px 2px 0px;
			}

			#fiche #pratique ul li#lieux_lies
			{
			background:#FFDF5A;
			}

		#fiche #pratique .liste
		{
			font-size:0.8em;
			color: #59787A;
			background: #F9F9F9;
		}

			#fiche #pratique .liste ul
			{
				padding:10px 5px 10px 5px;
				list-style:none;
			}

			#fiche #pratique .liste li
			{
				list-style:none;
				margin:2px 0px 2px 0px;
			}


	#fiche #descriptions
	{
		background-color:aqua;
		max-width:372px;
	}

		#fiche #descriptions .description
		{
			background-color: #F7F7F5;
			color: #59787A;
			padding:5px 0.4em 5px 0.4em;
		}
		
		#fiche  #descriptions .description p
		{
			color: #5C7378;
			margin:0em 1em 1em 0.4em;
		}
		
		#fiche  #descriptions .description a
		{
			color: blue;
		}

		#fiche #descriptions  .description h1
		{
			text-align:left;
			font-size: 1.2em;
		}

		#fiche #descriptions  .description h2
		{
			font-size: 1em;
		}

		#fiche #descriptions  .description pre
		{
			font-size:1em;
		}
		
		#fiche #descriptions .description .auteur
		{
			height:4em;
			vertical-align:middle;
			font-size: 1em;
			color: Gray;
			background: #F0F0FA;
			padding:2px 10px 2px 0;
			margin:0;
		}

		#fiche #descriptions .description .auteur .left
		{
			
			float : left;
			text-align : left;
			vertical-align:center;
			width : 59%;
		}

		#fiche #descriptions .description .auteur .right
		{
			
			float : right;
			text-align : right;
			vertical-align:center;
			width : 49%;
		}

#fiche p a:visited
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #6E9CCF;
}

#fiche #medias
{
	float:right;
	background-color:#eaeaea;
	margin:0px 0px 0px 5px;
	width:200px;
	height:300px;
}

#fiche #medias #photo
{
min-height:200px;
}

#fiche #medias .section
{
	border:1px solid #aeaeae;
	margin:1em 0;
}

#fiche #medias .section h3
{
	font-size:1em;
	font-weight:bold;
	background:#fafafa;
}

.icone
{
	width : 100px;
	height : 100px;
	background : #EDEDED;
} 

/* Galerie d'images */
#galerie
{
	width:90%;
	background:#aeaeae;
	margin:1em 1em 1em 2em;
}

#photo2
{
	margin:2px 2px 2px 0px;
}

.galerie
{
margin:0 2px 0 2px;
}
