#dernieres_descriptions
{
	padding:0 0em;
	width:94%;
	margin:0 auto 0 auto;
	background-color:#fdfdfd;

}

#dernieres_descriptions .vignette
{
	margin:1.2em 4% 1.2em 0;
	background-color : #F2F2ED;
	border: 1px solid gray;
	line-height:1.3em;
	color:#5C7378;
	
	min-height: 250px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	_height: 250px;	
	
}

#dernieres_descriptions .vignette h3
{
	background-color:#FACA1A;
	text-align:left;
	font-weight:bold;
	padding: 0.3em 0.2em 0.4em 0.2em;
	font-size:1.2em;
}
#dernieres_descriptions .vignette h3 a
{
color:#4a4a4a;
}


#dernieres_descriptions .vignette .icone
{
	float : left;
	width : 100px;
	height : 100px;
	background : #EDEDED;
	
	overflow:hidden;
} 

#dernieres_descriptions .vignette .qui
{
	color:#5C7378;
	margin:2em 0 0 0;
	text-align:right;
		line-height:1.4em;
	border-bottom: 1px dotted gray;
}

#dernieres_descriptions .vignette .apercu
{
	color:#3E5355;
	text-align:left;
	padding:2px;
	font-size:0.9em;
}
	

#dernieres_descriptions .vignette .continuer
{
	background-color: #DEE6EB;
	padding-top:0.2em;
	padding-bottom:0.2em;
}


/*Panneau Derniers lieux ajoutés */
#derniers_lieux
{
background-color:#ffffff;

}

#derniers_lieux h2
{
	margin:2em 0em 0.4em 0em;
	padding:0.4em 0em 0.4em 0.2em;
	color:#5C7378;
	font-size:1.1em;
	font-weight:bold;
}

#derniers_lieux h3
{
	font-size:1em;
	margin:0.8em 0em 0.4em 0em;
	padding:0.4em 0em 0em 0.2em;
	color:#5C7378;
	border-top:1px dotted gray;
	line-height: 1.3em;
}

#derniers_lieux p
{
	margin:0em 0em 0.4em 0em;
	padding:0em 0em 0em 0.2em;
	color:#5C7378;
	font-size:0.9em;
	line-height: 1.3em;
}

#derniers_lieux ul
{
margin:0;
padding:0;
list-style:none;
background:#fafafa;
}

#derniers_lieux ul li
{
margin:0.4em 0.2em 0.4em 0.2em;
}





.embleme {
	padding : 0;
	margin: 20px 0px 0px 0px ;
	background-color : #F7F7F5;
	text-align:center;
	height:85px;
	border-top:1px solid gray;
	border-bottom: 1px solid gray;
}
