/* MENU lieux */
#menu_lieux
{	
	font-size:0.9em;	
}

	ul#menu_statut
	{	float:left;
		font-weight:bold;
		font-size:1.4em;
		background:pink;
		display:block;
		text-align:center;
		
	}

	ul#menu_statut li
	{
		float:left;
		display:block;
		text-align:center;
	}

	ul#menu_statut li a
	{
		display:block;
		width:90px;
		height:2em;
		background:pink;
	}

	ul#menu_statut li.ici a
	{

			background:white;
	}

	#menu_lieux ul#menu_statut li.ici a
	{	
		background:#FFFF33;
	}	
	
	#menu_lieux ul#menu_statut li > a:hover
	{	
		background:orange;
	}	
	
	

	#menu_lieux ul#selon
	{	
		float:left;
		height:2em;
		font-size:1.1em;
        margin:0;
        padding:0;
		background:#eaeaea;
	}


	#menu_lieux ul#selon li
	{
		display:inline-block;
		text-align:center;
		padding:0.4em 0;
	}

	#menu_lieux ul#selon li a
	{
		display:block;
		width:60px;
		height:1.4em;

	}



	#menu_lieux ul#selon li.ici a
	{	
		font-weight:bold;
	}

	
	#menu_lieux ul#tranches
	{
		float:left;
		margin:0.4em 0 0 0;
		height:1em;
        padding:0;
	}

		#menu_lieux ul#tranches li
		{	
			display:inline-block;
	
			text-align:center;
		}

		#menu_lieux ul#tranches li a
		{
			display:block;
			width:59px;
			height:1.4em;
		
		}

		#menu_lieux ul#tranches li > a:hover
		{
			background:#efefef;
		}	
		
		#menu_lieux ul#tranches li.ici a
		{
			border:1px solid gray;
		}	
	
	
	#menu_lieux form
	{
		margin-top:0.4em;
	}

	#menu_lieux form select
	{
		border:1px solid gray;
	
	}

	#menu_lieux form input.submit
	{
		width:30px;
		border:1px solid #4f4f4f;
		background:#eaeaea;
	}




	
	
	
	
#menu_lieux table
{
	margin-top:0.8em;
	background:#FEFEFE;
	border-collapse:collapse;
}

#menu_lieux table tr
{
	height:1.8em;
}

#menu_lieux table tr.impair
{
	background:#EFEFFA;
}

#menu_lieux table tr#ici
{
	background:#FFFF33;
	border:none;
}

#menu_lieux table tr th
{
	text-align:left;
	background:#e0e0e0;
	padding:0.4em 0;
}


#menu_lieux table tr td
{
	text-align:left;
	vertical-align:middle;
}

	#menu_lieux table tr td.nb_desc_lieu
	{
		width:15px;
		text-align:center;
	}

	#menu_lieux table tr td.nb_even_lieu
	{
		font-size:0.9em;
		text-align:center;
		padding:0 0.1em;
	}


#menu_lieux table tr td a
{
	display:block;
	padding:0.5em 0 0.5em 5px;
	color:#0f0faf;
	line-height: 1.3em;
}

#menu_lieux table tr td > a:hover
{
	background-color: #e0e0e0;

}

/* Fin menu_lieux */