table#derniers_lieux
{
    width: 100%;
}

.table-filters button[type=submit]
{
    font-size:0.9em;
    padding: 0.4em 0.4em 0.6em 0.4em;
    border-radius: 3px;
    background-color: #f9f9f9;
    font-weight: bold;
    border: 1px solid black;
    color: rgba(0, 0, 0, 1);
    -webkit-text-fill-color: rgba(0, 0, 0, 1);
}

.table-filters
{
    position:relative;
    float:left;
    width:550px
}

.table-filters form
{
    display:inline-block;
    max-width:400px;
}

.table-filters form input[name="nom"]
{
    width:100px;
    height:27px;
    padding: 4px 3px 6px 3px;
    border-radius:4px;
    border: 1px solid #aaa;
}

.table-filters .menu_tab
{
    display:inline-block;
    position:absolute;
    margin-left:10px;
/*    top:2px*/
}

#order_navigation
{
    float:right;
}

div.pagination
{
    margin: 1em 0;
    padding-left: 0;
}