#entete_contenu
{
	height:auto;
/* 	padding:0.1em 1% 0.1em 1%; */
	margin-bottom:1em;
}

    #entete_contenu h1
    {
        width: 55%;
        line-height:1.2em;
    }

    #entete_contenu p
    {
        float:left;
    }

    #entete_contenu img
    {
        float:right;
        margin-top: 1em;
        max-width:45%;
    }

    #entete_contenu .info
    {
        margin:10px 0 0;
        padding:2px 0 0 18px;
        font-weight:bold;
    }


#titre_contenu
{
	margin:1em 3em 0em 3em;
}

ul.menu_actions
{
	margin:0em auto 0 auto;
	width:94%;
	text-align:right;
	padding:0;
}

    ul.menu_actions li
    {
        display:inline;
        padding:0.2em 0.2em;

    }


#statut_lieux
{
    margin:1em 0 1em 0;
    padding:0 0.2em;
}


.voir_lieux
{
	text-align:left;
	padding:0 0px 0 0;
	background-image:url(../web/interface/icons/building_go.png);
	background-repeat:no-repeat;
	background-position: 85% 50%;
}


.embleme {
    float:right;
	margin: 0px 0px 0px 0px;
}

ul.menu_actions_lieu
{
	margin:0 auto 0 auto;
    padding: 0;
	width:94%;
	text-align:right;
	font-size:0.9em;
	margin-bottom:0.3em;
}

ul.menu_actions_lieu li
{
	display:inline;

		margin:0 0.2em;
}

#fiche
{
	width:96%;
	margin: 0em auto 0.4em auto;
	max-width: 60em;
	min-height: 320px;
    border-radius: 3px;
	color:#5C7378;
	background-color: #F7F7F5;
}

	#fiche #pratique
	{
		background-color: #F7CF45;
		color:#2C2328;
        border-radius: 3px 0 0 0;
		border-bottom: 1px dotted Gray;
	}

		#fiche #pratique ul
		{
			list-style-type: none;
            padding:0.2em;
            margin:0;
		}

			#fiche #pratique ul li
			{
				margin:0.2em 0.2em 0.4em 0.2em;
			}

		#fiche #pratique .liste
		{
			font-size:0.8em;
			color: #59787A;
			background: #F9F9F9;
		}

			#fiche #pratique ul li ul.salles
			{
				display:inline;
				border-bottom: none;
			}

			#fiche #pratique ul li ul.salles li
			{
			display:inline;
			margin:0 0.8em 0 0;

			}

            p.adresse
            {
                margin:0.4em 0.2em;
                padding-left:0.2em;
            }

            .details
            {
                font-size:0.9em;
                background-color:#f2f2f2;
                height:80px;
            }

            #fiche #lieu-map
            {
				width: 60%;
				height: 300px;
				margin:5px;
			}

	ul#menu_descriptions
	{
		display:block;
		margin:1.2em 0 0.8em 0;
		max-width:372px;
		height:1.4em;
		font-size:1em;
		color:#5C7378;
		border-bottom:1px dotted #5C7378;
		text-align:center;
        padding: 0.6em 0 0.8em 0;
	}

	ul#menu_descriptions li
	{
			float:left;
			display:block;
			text-align:center;
			padding:0 0.4em;
	}

		ul#menu_descriptions li a
		{
			width:40%;
			height:2em;
		}

		ul#menu_descriptions li.ici a
		{
			color:#5e5e5e;
			font-weight:800;
			background-color:#F7F7F5;
			padding:0.2em 0.4em 0.4em 0.4em;
			border-top:1px dotted #5C7378;
			border-left:1px dotted #5C7378;
			border-right:1px dotted #5C7378;
		}


	#fiche #descriptions
	{

		max-width:372px;
	}

		#fiche #descriptions .description
		{
			background-color: #F7F7F5;
			color:#3E5355;
			padding:5px 0.4em 5px 0.4em;
            border-radius: 0 0 0 3px;
			line-height:1.4em;
		}

		#fiche  #descriptions .description p
		{
			margin:1em 1em 0em 0;
		}

		#fiche #descriptions .description h1
		{
			text-align:left;
			font-size: 1.2em;
		}

		#fiche #descriptions .description h2
		{
			font-size: 1em;
		}

		#fiche #descriptions  .description pre
		{
			font-size:1em;
		}

		#fiche #descriptions .description h4
		{
			font-size: 1.05em;
            font-weight:bold;
            margin:0.4em;
			border:none
		}

		#fiche #descriptions .description blockquote
		{
            margin-left:0.5em;
            font-style: italic;
            border-left: 1px solid #bbb;
		}

		#fiche #descriptions .description .auteur
		{
			height:4em;
			vertical-align:middle;
			font-size: 0.8em;
			color: Gray;
			/* background: #eaeaea; */
			padding:0.4em;
			margin: 0 0 0  0.2em;
			font-style:italic;
		}


		#fiche #descriptions .description .auteur .left
		{

			float : left;
			vertical-align:middle;
		}

		#fiche #descriptions .description .auteur .right
		{

			float : right;
			text-align : right;
			vertical-align:middle;
			width : 49%;
		}

#fiche #medias
{
	float:right;
	margin:0px 0px 0px 5px;
	width:200px;
    border-radius: 0 3px 0 0;
	color:#5C7378;
}

    #fiche #medias #photo
    {
        float: right;
        min-height: 200px;
        min-width: 200px;
        border-radius: 0 3px 0 0;
        text-align: right;
    }

    #fiche #medias #photo img
    {
        border-radius: 0 3px 0 0;
    }

    #fiche #medias .section
    {
        margin:1em 0;
    }

        #fiche #medias .section h3
        {
            font-size:1em;
            font-weight:bold;
            padding: 0.4em 0;
            /* background:#fafafa; */
        }

.icone
{
	width : 100px;
	height : 100px;
	background : #EDEDED;
}

/* Galerie d'images */
#galerie
{
	width:90%;
	background:#aeaeae;
	margin:1em 1em 1em 2em;
}

#photo2
{
	margin:2px 2px 2px 0px;
}

.galerie
{
    margin: 2px 6px 2px 0;
}

ul#menu_complement
{

	display:block;
	margin:2em auto 1em auto;
	width:94%;
	height:1.4em;
	font-size:1.15em;
color:#5C7378;
	border-bottom:1px dotted #5C7378;
		text-align:center;
}

ul#menu_complement li
{
		float:left;
		display:block;
		text-align:center;
		padding:0 0.3em;
}

	ul#menu_complement li a
	{
		width:40%;
		height:2em;
	}

	ul#menu_complement li.ici a
	{
		color:#5e5e5e;
		font-weight:800;
		border-top:1px dotted #5C7378;
		border-left:1px dotted #5C7378;
		border-right:1px dotted #5C7378;
		background:#fefefe;
		padding:0.3em 0.5em 0.4em 0.5em;
	}


ul#menu_complement .rss
{
	width:5%;
	text-align:right;
	float:right;
}


/* Prochains evenements */
#prochains_evenements
{
	margin: 2em auto 2em auto;
	width:94%;
	color:#5C7378;
}

    #prochains_evenements header
    {
        margin:1em 0
    }

        #prochains_evenements header h2
        {
            float:left;
            width:45%;
            font-size:1.4em;
            margin:0;
        }

        #prochains_evenements .pagination
        {
            margin:1em 0;
            padding-left: 0;
        }

        #prochains_evenements table
        {
            margin-top:0;
            width:100%;
            border-collapse:collapse;
            color:#5C7378;
            background:#F7F7F5;
        }

        #prochains_evenements table tr.ici
        {
            background-color:#ff3;
        }

            #prochains_evenements table td.mois
            {
                font-weight:bold;
                border:none;
                padding: 0.5em 0.3em;
                font-size: 1.1em;
                line-height: 1.3em;
            }

            #prochains_evenements table tr td
            {
                text-align:left;
                padding:0.4em;
                vertical-align:top;
                border-top:1px dotted #5C7378;
            }

            #prochains_evenements table td a:visited
            {
                 color:#0f4786; /* #105199  #104d91*/
            }

            #prochains_evenements table td .pratique
            {
                margin-top:0.5em;
                font-size:0.8em;
                padding:0.2em 0.2em 0 0;
            }

            #prochains_evenements table td.flyer
            {
                width:50px;
                height:80px;
                overflow:hidden;
            }

            #prochains_evenements table td .category
            {
                display: inline-block;
                margin-top:0.4em;
            }

            #prochains_evenements table td.flyer img
            {
                overflow:hidden;
            }

            /*
            #prochains_evenements table tr.ici td p.pratique
            {
                background-color:transparent;
                font-weight:bold;
            }

            #prochains_evenements table tr.ici td.flyer
            {
            width:50px;
            background-color:transparent;
            }*/

            #prochains_evenements table td.lieu_actions_evenement
            {
                width:60px
            }

                #prochains_evenements table td.lieu_actions_evenement ul
                {
                    padding: 0;
                    margin:0;
                }

                    #prochains_evenements table td.lieu_actions_evenement ul li
                    {
                        display:inline;

                    }
