app/env.php
/nbproject
/var/*
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor
!/web/uploads/
/web/uploads/*
!web/uploads/.gitkeep
!/web/uploads/evenements/
/web/uploads/evenements/*
!web/uploads/evenements/.gitkeep
!/web/uploads/lieux/
/web/uploads/lieux/*
!web/uploads/lieux/.gitkeep
!/web/uploads/lieux/galeries/
/web/uploads/lieux/galeries/*
!web/uploads/lieux/galeries/.gitkeep
!/web/uploads/organisateurs/
/web/uploads/organisateurs/*
!web/uploads/organisateurs/.gitkeep
/.idea
.htaccess
codeception.yml