# similar to .htaccess on prod but without security and other prod requirements

## SECURITY

# 8G FIREWALL v1.4 20250120
# https://perishablepress.com/8g-firewall/

# 8G:[CORE]
ServerSignature Off
Options -Indexes
RewriteEngine On
RewriteBase /

# 8G:[HTTP REFERRER]
<IfModule mod_rewrite.c>

	RewriteCond %{HTTP_REFERER} (order(\s|%20)by(\s|%20)1--) [NC,OR]
	RewriteCond %{HTTP_REFERER} (@unlink|assert\(|print_r\(|x00|xbshell) [NC,OR]
	RewriteCond %{HTTP_REFERER} (100dollars|best-seo|blue\spill|cocaine|ejaculat|erectile|erections|hoodia|huronriveracres|impotence|levitra|libido|lipitor|mopub\.com|phentermin) [NC,OR]
	RewriteCond %{HTTP_REFERER} (pornhelm|pro[sz]ac|sandyauer|semalt\.com|social-buttions|todaperfeita|tramadol|troyhamby|ultram|unicauca|valium|viagra|vicodin|xanax|ypxaieo) [NC]

	# RewriteRule .* - [F]

	RewriteRule .* /nG_log.php?log [END,NE,E=nG_HTTP_REFERRER:%1]

</IfModule>

# 8G END

Header set Strict-Transport-Security "max-age=86400" env=HTTPS

# apart if file exists, accesses of files in years 2005 to 2023, directly under evenements/ are redirected to evenements/{year}/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^web/uploads/evenements/(s_)?(\d+)_(200[5-9]|201[0-9]|202[0-3])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])(.*)\.(jpe?g?|png|gif)$ /web/uploads/evenements/$3/$1$2_$3-$4-$5$6.$7 [NC,R=301,L]


ErrorDocument 404 /articles/error.php
ErrorDocument 429 /articles/error.php
ErrorDocument 500 /articles/error.php

# MAINTENANCE-PAGE REDIRECT mg: 92.106.49.248
# RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1
# RewriteCond %{REQUEST_URI} !/maintenance.php [NC]
# RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
# RewriteRule .* /maintenance.php [R=302,L]

# .user.ini - equivalent .user.ini on prod (because Infomaniak server API is FPM/FastCGI)
php_flag display_startup_errors off
php_flag display_errors on
# E_ALL : 32767 (but sensible of futures changes of codes)
# E_ALL : -1 (future changes proof)
# E_ERROR : 1
# E_ALL & ~E_DEPRECATED & ~E_NOTICE : (best suitable for production)
php_value error_reporting -1
# end .user.ini
