# similar to .htaccess on prod but without security and other prod requirements

## SECURITY

# 8G FIREWALL v1.4 20250120
# https://perishablepress.com/8g-firewall/

# 8G:[CORE]
ServerSignature Off
Options -Indexes
RewriteEngine On
RewriteBase /

# 8G:[HTTP REFERRER]
<IfModule mod_rewrite.c>

	RewriteCond %{HTTP_REFERER} (order(\s|%20)by(\s|%20)1--) [NC,OR]
	RewriteCond %{HTTP_REFERER} (@unlink|assert\(|print_r\(|x00|xbshell) [NC,OR]
	RewriteCond %{HTTP_REFERER} (100dollars|best-seo|blue\spill|cocaine|ejaculat|erectile|erections|hoodia|huronriveracres|impotence|levitra|libido|lipitor|mopub\.com|phentermin) [NC,OR]
	RewriteCond %{HTTP_REFERER} (pornhelm|pro[sz]ac|sandyauer|semalt\.com|social-buttions|todaperfeita|tramadol|troyhamby|ultram|unicauca|valium|viagra|vicodin|xanax|ypxaieo) [NC]

	# RewriteRule .* - [F]

	RewriteRule .* /nG_log.php?log [END,NE,E=nG_HTTP_REFERRER:%1]

</IfModule>

# 8G END

Header set Strict-Transport-Security "max-age=86400" env=HTTPS

# Prevent directory browsing; implicit filename pattern match, and choose from amongst the results
Options -MultiViews

# allow ajax (fetch, XMLHttpRequest, etc.), websockets from externals
SetEnvIf Origin "^(https://noctambus.ch|https://www.noctambus.ch|https://maps.googleapis.com|https://browser.sentry-cdn.com)$" AccessControlAllowOrigin=$0
Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin

# Block access to backup and source files that may be left by some text editors and can pose a security risk when anyone has access to them
<FilesMatch "(^#.*#|\.(bak|conf|dist|env|fla|in[ci]|log|md|old|orig|psd|sh|sql|sw[op]|tmp)|~)$">
	Require all denied
</FilesMatch>

# block public access to individual sensible files
<FilesMatch "(composer\.json|composer\.lock)$">
    Require all denied
</FilesMatch>

# protect http public access but not inclusions
RewriteCond %{REQUEST_URI} ^/(var|app|librairies|resources)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(var|app|librairies|resources) - [F,L]

# uploads/ can only allow access of images
RewriteCond %{REQUEST_URI} ^/web/uploads/ [NC]
RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|png|gif|webp)$ [NC]
RewriteRule .* - [F]

# exclude a web scraper
RewriteCond %{HTTP_USER_AGENT} ^Scrapy [NC]
RewriteRule ^.* - [F,L]

Header set Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=('self'), geolocation=(), gyroscope=(), keyboard-map=*, magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(), publickey-credentials-get=*, screen-wake-lock=(), sync-xhr=('self'), usb=(), web-share=*, xr-spatial-tracking=()"


## MISC

# Redirection pour favicon
Redirect 301 /favicon.ico /web/interface/favicon.png

# Redirections pour apple-touch-icons
Redirect 301 /apple-touch-icon.png /web/interface/apple-icon.png
Redirect 301 /apple-touch-icon-precomposed.png /web/interface/apple-icon.png
Redirect 301 /apple-touch-icon-120x120-precomposed.png /web/interface/apple-icon-120x120.png
Redirect 301 /apple-touch-icon-120x120.png /web/interface/apple-icon-120x120.png
Redirect 301 /apple-touch-icon-76x76.png /web/interface/apple-icon-76x76.png

Redirect 301 /images/interface/radio_vostok.png /web/content/radio_vostok.png


## APPLICATION

# shortcuts
RewriteRule ^lausanne /index.php?region=vd [NC,R=301,L]
RewriteRule ^fribourg /index.php?region=fr [NC,R=301,L]
RewriteRule ^geneve /index.php?region=ge [NC,R=301,L]
# old name to new
RewriteRule ^agenda.php /evenement-agenda.php [NC,R=301,L]

# apart if file exists, accesses of files in years 2005 to 2023, directly under evenements/ are redirected to evenements/{year}/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^web/uploads/evenements/(s_)?(\d+)_(200[5-9]|201[0-9]|202[0-3])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])(.*)\.(jpe?g?|png|gif)$ /web/uploads/evenements/$3/$1$2_$3-$4-$5$6.$7 [NC,R=301,L]

# SEO
<IfModule mod_headers.c>
  <If "%{REQUEST_URI} =~ m#/web/uploads/(evenements|lieux|organisateurs)(/[^/]+)?/s_.*\.(jpg|jpeg|png|webp|gif)$#">
    Header set X-Robots-Tag "noindex"
  </If>
</IfModule>

ErrorDocument 404 /articles/error.php
ErrorDocument 429 /articles/error.php
ErrorDocument 500 /articles/error.php

# MAINTENANCE-PAGE REDIRECT mg: 92.106.49.248
# RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1
# RewriteCond %{REQUEST_URI} !/maintenance.php [NC]
# RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
# RewriteRule .* /maintenance.php [R=302,L]

# .user.ini - equivalent .user.ini on prod (because Infomaniak server API is FPM/FastCGI)
php_flag display_startup_errors off
php_flag display_errors on
# E_ALL : 32767 (but sensible of futures changes of codes)
# E_ALL : -1 (future changes proof)
# E_ERROR : 1
# E_ALL & ~E_DEPRECATED & ~E_NOTICE : (best suitable for production)
php_value error_reporting -1
# end .user.ini
