parameters:
    paths:
        - .
    excludePaths:
        - web
        - vendor
        - var
    fileExtensions:
        - php
    tmpDir: var/cache/ecs
    level: 0
    inferPrivatePropertyTypeFromConstructor: true
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon