	/* connexion */
	#connexion
	{

		width:94%;
		margin:1em auto 0 auto;
	}
	
	#connexion form
	{
	
		background-color:#efefef;
	}

	
	#connexion form fieldset legend
	{
		font-weight:bold;
	}	
	
	#connexion fieldset ol li
	{
		margin:0.4em 0;
	}
	
	#connexion form fieldset#champs
	{
		margin-top:5px;
		margin-left:0.1em;
		padding-left:0px;
		padding-bottom:1em;
	}

	#connexion form fieldset#pied
	{
		background-color:#aeaeae;
		height:2em;
		text-align:right;
		margin:0.2em 0;
		padding:0.5em 0.4em;
	}
	
	#connexion form label
	{
		float:left;
		text-align:right;
		width:10em;
	}
	
	#connexion form input.text
	{
		float:left;
		margin-left:0.2em;
		padding:0.2em;
		border:1px solid #5C7378;
	}

	#connexion form p.se-connecter
	{
	}
	
	#connexion form input.submit {
    background-color: #f9f9f9;
    border: 1px solid black;
    font-weight: bold;
    padding: 0.3em 0.4em;
	margin-left:0.2em
}

	