* {
    margin:0pt;
    padding:0pt;
}
body {
    padding:20px;
}
#jgal {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    width:200px;
}
#jgal li {
    background-position:50%;
    border:3px solid #FFFFFF;
    cursor:pointer;
    display:block;
    float:left;
    height:60px;
    margin-bottom:14px;
    margin-right:14px;
    opacity:0.5;
    outline-color:#DDDDDD;
    outline-style:solid;
    outline-width:1px;
    width:60px;
}
#jgal li img {
    display:none;
    left:220px;
    position:absolute;
    top:20px;
}
#jgal li.active img {
    display:block;
}
#jgal li.active, #jgal li:hover {
    opacity:0.99;
    outline-color:#BBBBBB;
}
#gallery {
    display:block;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
#gallery li {
    float:left;
    margin:0pt 10px 10px 0pt;
}