/* base */

body
{
    font-family:Verdana, Arial;
    font-size:85%;
    background:#5c7378;
    height:100%;
}

a, a:hover, a:active
{
    text-decoration:none;
    color:#1569C7;
}

strong
{
    font-weight:bold;
}

em
{
    font-style:italic;
}

h2, h3, h4, h5
{
    margin-top: 0;
    margin-bottom: 0;
    color: #5C7378;
}

fieldset
{
    border:none;
}

label
{
    line-height:1.2em;
}

input[type="submit"]
{
    cursor:pointer;
}

input.read-only, input.read-only:hover, form#ajouter_editer input.read-only:focus {
    background-color: #ddd;
}

sup {
    vertical-align: super;
    font-size: smaller;
    line-height:0;
}

table
{
    border-collapse: collapse;
}

figure
{
    margin: 0;
}


.spacer
{
    clear:both;
}

/*enveloppe header div#conteneur footer*/
#global
{
    margin:0 auto 0 auto;
    background-color:#FDFDFD;
    max-width:960px;
}

/*header*/
#entete
{
    background-color:#FACA1A;
    text-align:left;
}

/*div*/
#conteneur
{
    text-align:left;
    min-height:40em;
}

#conteneur .colonne
{
    float:left;
    position:relative;
}

/*main*/
#contenu
{
    font-size:0.95em;
    color:#5E5E5F;
    padding-bottom:1em;
}

    #contenu h2
    {
        font-size: 1.4em;
        line-height:1.4em;
    }

    #contenu #default
    {
        width:94%;
        margin:0 auto 0 auto;
    }

    #contenu .rubrique
    {
        width: 96%;
        margin:1em auto 0.2em auto;
        color:#5E5E5F;
        line-height:1.4em;
        background:#fefefe;
    }

        #contenu .rubrique h3
        {
            font-size:1.2em;
            font-weight:bold;
            margin:1em 0 0.4em 0em;

        }

        #contenu .rubrique h4
        {
            font-size:1em;
            font-weight:bold;
            margin:1em 0 0.4em 0.6em;
        }

        #contenu .rubrique h5
        {
            font-size:.9em;
            font-weight:bold;
            margin:1em 0 0.4em 0em;
        }

        #contenu .rubrique dt
        {
            font-size:1em;
            font-weight:bold;
            margin:1.4em 0 0.4em 0.4em;
        }

        #contenu .rubrique dd
        {
            margin:0.4em 0 0.4em 1.4em;
        }

    #contenu p
    {
        margin:0em 1em 1em 0.1em;
    }

    #contenu ul
    {
        color:#5E5E5F;
/*        margin:0.6em 0 0 1em;*/
        list-style-type: disc;
    }

/*    #contenu ul li
    {
        padding:0.2em 0em;
    }*/

    #contenu ul#payment-modes
    {
        margin-left: 0.4em;
        list-style-type: none;
    }

    #contenu ul#payment-modes li
    {
        margin: 0.4em 0;
    }


    #colonne_gauche, #colonne_droite
    {
        font-size:0.95em;
    }

/* footer */
#pied
{
    margin:1em 0 0 0;
    padding:0 60px;
    /*text-align:center;*/
    clear:both;
    background-color:#FACA1A;
    border-top: 1px solid gray;
}

    #pied ul.menu_pied
    {
        font-size:0.9em;
        width:100%;
        margin:0em auto 0.4em auto;
        padding: 0;
    }

    #pied ul.menu_pied li
    {
        display:inline-block;
        text-align:center;
        padding:0.4em 0.4em 0.4em 0.4em;
    }

#entete #titre_site
{
    float:left;
    vertical-align:middle;
    color: #fff;
    background-color:#FACA1A;
    width:45%;
}

#entete #titre_site p
{
    font-size:0.85em;
    font-style:italic;
}

/* menu pratique */
#entete_haut
{
    float:right;
    background-color:#FACA1A;
}

/*#entete_haut #date
{
    float:left;
    margin:0;
    padding-left:0.2em;
    height:1em;
    width:23%;
    color:#0a0a0a;
    font-size:0.8em;
}*/

#entete_haut #menu_pratique
{
    color:#fff;
    font-size:0.9em;
}

    #entete_haut #menu_pratique ul
    {
        float:right;
        margin-top:0.1em;
        line-height: 1.3em;
        padding:0;
    }

    #entete_haut #menu_pratique ul li
    {
        display:inline-block;
    }

        #entete_haut #menu_pratique ul li a
        {
            display:inline;
            text-align:center;
            height:1em;
            padding:0.4em 0.4em;

        }

        #entete_haut #menu_pratique ul li a:hover
        {
            color:#1784e8;
        }


        #entete_haut #menu_pratique ul li.ici a
        {
            background:#F5EBC7;
        }


/*principal*/
#menu
{
    background-color:#F5B045;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
}

    #menu ul
    {
        margin-top: 0px;
        padding-left: 0px;
        background-color:#F5B045;
    }

        #menu ul li
        {
            display:block;
            text-align:center;
            background:#F5B045;
        }

            #menu ul li a
            {
                padding:0.6em 0;
                display:inline-block;
                font-weight:bold;
                font-size:1.1em;
                font-family:"Century Gothic", Verdana, Helvetica;
                color:#452817;
            }

            #menu ul li a:hover
            {
                background-color:#F5EBC7;
            }

            #menu ul li.ici a
            {
                background-color:#FEFEFE;
            }

    #menu ul#menu_agenda
    {
        background-color:#F5B045;
        float:left;
    }

        #menu ul#menu_agenda li
        {
            border:none;
        }

            #menu ul#menu_agenda li a
            {
                width:57px;
                height:1.2em;
                display:block;
                font-weight:bold;
                font-size:1em;
            }

            #menu ul#menu_agenda li a:hover
            {
                background-color:#fafafa;
            }

            #menu ul#menu_agenda li.ici a
            {
                background-color:#FEFEFE;
            }

                #menu li#bouton_calendrier
                {
                    display:none;
                }

                #menu ul li.form_recherche
                {
                    border:none;
                    margin-right:2%;
                }

            form.recherche
            {
                padding:0.45em 0 0.45em 0;
            }

                form.recherche input.mots
                {
                    width:14em;
                    height:20px;
                    border:1px solid #8a8a8a;
                    color:#8a8a8a;
                    background-position: 0px 50%;
                }

                form.recherche button.submit
                {
                    width:2em;
                    border-top:1px solid #8a8a8a;
                    border-bottom:1px solid #8a8a8a;
                    border-right:1px solid #8a8a8a;
                    border-left:none;
                    background-color:#eaeaea;
                /*    background-image:url(../interface/icons/search.png);*/
                    background-repeat:no-repeat;
                    background-position:2px;

                }

            @media screen and (-webkit-min-device-pixel-ratio:0) {

                form.recherche input.mots
                {
                    height:22px;
                }

                form.recherche button.submit
                {
                    height:22px;
                }
            }

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                form.recherche input.submit
                {
                    height:20px;
                }
            }

/*header            */
#entete_contenu
{
    width:94%;
    vertical-align:middle;
    margin: 0.8em auto 0em auto;
    padding:0.4em 0;
    color:#5C7378;
}

    #entete_contenu h1
    {
        float:left;
        color:#5C7378;
        font-size:1.6em;
        font-weight:bold;
        width:85%;
/*        line-height:1.3em;*/
    }

    #entete_contenu h2
    {
        float:left;
        color:#5C7378;
        font-size:1em;
        background:#fafbfb;
    }

    #entete_contenu ul.entete_contenu_menu
    {
        float:right;
        display: inline-block;
        margin-top: 0.2em;
        padding:0;
        text-align:right;
    }

        #entete_contenu ul.entete_contenu_menu li
        {
            display:inline;
        }

#entete_contenu_titre
{
    float:left;
}

/* evenement.php, index.php */
.entete_contenu_navigation
{
    float:right;
}

.entete_contenu_navigation a
{
    padding:0.4em;
    background:#f0f0f0;
    display:inline-block;
}

.entete_contenu_navigation .mode a
{
    background:none;
}

.entete_contenu_navigation a.ici
{
    background:#ff6;
}

.entete_contenu_navigation a:hover, .entete_contenu_navigation a:active
{
    background:#ccc;
}



.msg_erreur
{
    width:90%;
    margin:2em auto;
    padding:1em 0% 1em 6%;
    border-top:1px solid red;
    border-bottom:1px solid red;
    background-color:#ffefef;
    background-image:url(../interface/icons/error.png);
    background-repeat:no-repeat;
    background-position: 15px 50%;
    line-height:1.3em;
}

.msg_info
{
    width:90%;
    margin:1em auto;
    padding:1em 0% 1em 6%;
    border-top:1px solid blue;
    border-bottom:1px solid blue;
    background-color:#eaeaff;
    background-image:url(../interface/icons/information.png);
    background-repeat:no-repeat;
    background-position: 15px 50%;
    line-height:1.3em;
}

.msg_ok
{
    width:90%;
    margin:2em auto;
    padding:1em 0% 1em 6%;
    border-top:1px solid green;
    border-bottom:1px solid green;
    background-color:#eaf0ea;
    background-image:url(../interface/icons/tick.png);
    background-repeat:no-repeat;
    background-position: 15px 50%;
    line-height:1.3em;
}

.msg_email
{
    width:90%;
    margin:1em auto;
    padding:1em 0% 1em 6%;
    border-top:1px solid blue;
    border-bottom:1px solid blue;
    background-color:#eaeaff;
    background-image:url(../interface/icons/email.png);
    background-repeat:no-repeat;
    background-position: 15px 50%;
    line-height:1.3em;
}

.info
{
    padding:0 0em 0 16px;
    background-image:url(../interface/icons/information.png);
    background-repeat:no-repeat;
    background-position: 0 50%;
    line-height:1.3em;
}

/*liens & icones*/
.continuer, .read-smore__link
{
    text-align:right;
    padding:0 15px 0 0;
    background-image:url(../interface/icons/resultset_next.png);
    background-repeat:no-repeat;
    background-position: 100% 50%;
    _background-image:none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/interface/icons/resultset_next.png', sizingMethod='crop');
}

.read-smore__link[data-clicked="true"]
{
    background-image:url(../interface/icons/bullet_arrow_up.png);
}

.action_ajouter
{
    padding:5px 0 5px 18px;
    background-image:url(../interface/icons/page_white_add.png);
    background-repeat:no-repeat;
    background-position: 0 50%;
}

.action_supprimer
{
    padding:5px 0 5px 18px;
    background-image:url(../interface/icons/delete.png);
    background-repeat:no-repeat;
    background-position: 0% 70%;
}

.action_depublier
{
    padding:5px 0 5px 18px;
    background-image:url(../interface/icons/calendar_delete.png);
    background-repeat:no-repeat;
    background-position: 0% 30%;
}

.action_copier
{
    padding:5px 0 5px 18px;
    background-image:url(../interface/icons/page_white_copy.png);
    background-repeat:no-repeat;
    background-position: 0% 30%;
}

.action_editer
{
    padding:5px 0em 5px 18px;
    background-image:url(../interface/icons/page_white_edit.png);
    background-repeat:no-repeat;
    background-position: 0% 30%;
    height:2em;
}

.inscrivez
{
    padding:0em 0em 0em 0px;
    background-image:url(../interface/fond_inscrivez.gif);
    background-repeat:no-repeat;
    background-position: 50% 50%;
}

.popup_gmaps
{
    padding:0.1em 0em 0.1em 16px;
    background-image:url(../interface/icons/map.png);
    background-repeat:no-repeat;
    background-position: 0% 30%;
    height:2em;
}

.lien_ext
{
    padding:0em 15px 0em 0px;
    background-image:url(../interface/lien_ext.gif);
    background-repeat:no-repeat;
    background-position: 100% 50%;
}

.icalendar
{
    background-image: url("../images/interface/icons/date_add.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left:20px;

}



/* personne */
table#ajouts tr .tdleft
{
    text-align:left;
}

#soutien
{
    font-size:0.85em;
}

.mr_as
{
    display:none;
}

table tr td.small
{
    font-size: 0.9em;
}





#entete_contenu .menu_region
{
    float:right;
    margin-top: -0.2em;
    padding:0;
    font-size: 1.1em;
    text-align: right;
    width: auto;
}


#entete_contenu .menu_region li
{
    display:inline-block;

}

#entete_contenu .menu_region li a
{
    background: #e0e0e0;
    display:inline-block;
    padding: .5em .2em;
    text-align: center;
}

#entete_contenu .menu_region li a .events-nb
{
    /*    padding: .1em .1em;
        border-radius: 4px;
        background: #FEFEFE;*/
    font-size:0.9em;
}


#entete_contenu .menu_region li:first-child a
{
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #efeffa;
    border-right: none;
}

#entete_contenu .menu_region li:last-child a
{
    border-radius: 0 5px 5px 0;
    border:1px solid #efeffa;
    border-left: none;
}

#entete_contenu .menu_region li:last-child a.ici
{
    background: #0a9632;
    color:#fefefe;
}

#entete_contenu .menu_region li a:hover
{
    background: #efefef;
}

#entete_contenu .menu_region li a.ici
{
    background: #ff6;
    color: #5a7175;
}

#entete_contenu .menu_region li a.vd.ici
{
    background: #0a9632;
    color:#fefefe;
}


#entete_contenu .menu_region li a:not(.ici):hover
{
    background: #f0f0f0;
}




/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }



.even-statut-badge
{
    padding:0.2em 0.2em;
    background:lightblue;
    color:#4c4c4c;
    border-radius:6px
}

.even-statut-badge.inactif
{
    color:#fff;
    background:red;
}

.even-statut-badge.propose
{
    background:lightblue;
}

.even-statut-badge.annule
{
    background: rgba(238, 180, 41, .6)
}

.even-statut-badge.complet
{
    background: rgba(236, 226, 111, .7);
}



/* article */

.evenement-short
{
    color:#59787A;
    margin: 0.6em 0 1.4em;
    border-top:1px dotted gray;
    width:100%;
}

    .evenement-short .flyer
    {
        float:left;
        width:100px;
        height:140px;
        background:#efefef;
        overflow:hidden;
        margin-top:6px;
    }

    .evenement-short .titre
    {
        padding: 0.4em 0 0.1em;
        font-size:1em;
        font-weight:bold;
        line-height:1.2em;

        -width:90%;
        /*
        border-bottom:1px solid black;
        */
    }

        .evenement-short .titre .left
        {
            float:left;
            line-height: 1.25em;
            width:58%;
            text-align:left;
            margin:0;
            padding-left:0.1em;
            /*
                    background-color:yellow;
            */
        }

        .evenement-short .titre .left a:visited {
            color:#0f4786; /* #105199 #104d91*/
        }


        .evenement-short .titre .right
        {
            float:right;
            width:40%;
            padding:0;
            padding:0 0.2em 0 0 ;
            text-align:right;
            line-height: 1.25em;
            /*
                background-color:aqua;
            */
        }

        .evenement-short .titre #titre, #nom_lieu
        {
            display:block;
            background-color:#FDD017;
        }


    .evenement-short .description
    {
        min-height:72px;
        padding:0.4em 0 0.4em 0.5em;
        margin:0;
        color:#3e5355;
        font-size:0.9em;
        background-color:#F9F9F9;
        line-height:1.4em;
        overflow:hidden;
    }

        .evenement-short .description p
        {
            margin:0;
        }

        .evenement-short .description .event_orga
        {
            list-style-type:none;
            margin:0.8em 0 0.6em 0;
            padding:0.1em;
            position:relative;
            bottom:0
        }

.event_orga li
{
    margin: 0.3em 0.1em 0.1em 0.1em;
    padding:0.2em;
    display:inline-block;
    background:#efefef;
    border-radius:3px;
}

    .evenement-short .description .event_orga .lien_ext
    {
        font-size: 0.9em;
    }



    .evenement-short .adresse
    {
        background:#E6EDF7;
    }

    .evenement-short .pratique
    {
        background:#E6EDF7;
        font-size:0.8em;
        border:1px solid #eaeaea;
        padding:0.4em 0.2em;
        line-height: 1.3em;
    }

        .evenement-short .pratique .left
        {
            float:left;
            padding:0 0 0 0.2em;
            width:59%;
            text-align:left;
        }

        .evenement-short .pratique .right
        {
            float:right;
            width:39%;
            padding:0 0.2em 0 0;
            text-align:right;
        }

    .evenement-short .edition
    {
        height:1.6em;
        font-size:0.9em;
    }





ul.menu_action
{
    float:left;
    height:1.6em;
    margin:.3em 0 0 0;
    padding: 0;
    display:inline;
}

    ul.menu_action li
    {
        height:1.6em;
        display:inline;
        margin:.8em .3em;
    }

        ul.menu_action li a
        {
            padding:.3em;
        }

        ul.menu_action li a.signaler, ul.menu_action li a.ical
        {
            color:#a6a5a5;
        }

        ul.menu_action li a.signaler:hover, ul.menu_action li a.signaler:active,
        ul.menu_action li a.ical:hover, ul.menu_action li a.ical:active
        {
            color:#1569C7;
        }

        ul.menu_action li img
        {
            vertical-align: middle;
        }




ul.menu_edition
{
    float:right;
    height:1.6em;
    text-align:right;
    padding:0.4em 0;
    margin:0;
}

    ul.menu_edition li
    {
        height:1.6em;
        display:inline;
        margin:0 0.2em;
    }

        ul.menu_edition li img
        {
            vertical-align: middle;
        }

/* fin article */

ul.menu_tab
{
    margin:0;
    padding:0;
    text-align: right;
    list-style-type: none;
}

    ul.menu_tab li
    {
        display: inline;
        vertical-align: bottom;
    }

    ul.menu_tab li a
    {
        display: inline-block;
        padding: 0.6em;
        border-radius:3px;
        background: none;
    }

    ul.menu_tab li.ici a
    {
        background: #e4e4e4;
    }

    ul.menu_tab li a:hover
    {
        background:#d4d4d4;
    }


ul#menu_periode
{
    float: right;
    width: 49%;
    margin:0;
    padding:0;
    text-align: right;
    list-style-type: none;
}
    ul#menu_periode li
    {
        display: inline;
        vertical-align: bottom;
    }


    ul#menu_periode li a
    {
        display: inline-block;
        padding: 0.6em;
        border-radius:3px;
        background: none;
    }

    ul#menu_periode li.ici a
    {
        background: #e4e4e4;
    }
/*    ul#menu_periode li:nth-child(1) a
    {
        border-radius:3px 0 0 3px;
    }*/

/*    ul#menu_periode li:nth-child(2) a
    {
        border-radius: 0 3px 3px 0;
        background:#e4e4e4;
    }*/

    ul#menu_periode li a:hover
    {
        background:#d4d4d4;
    }


.recherche_mobile
{
    display:none;
}

.name_as
{
    display:none;
}





.alert-warn
{
    position:relative;
    padding:0.7em 0.5em;
    margin:0em 0;
    background:#fff3cd;
    color:#856404  ;
}

    .alert-warn h2
    {
        padding:0;
        margin:0.1em 0 0.4em 0em;
        font-size:1.3em;
        color:#856404  ;
    }

    .alert-warn .close
    {
        position:absolute;
        right:0;
        top:0;
        padding:6px;
        font-size: 1rem;
        font-weight: 700;
        color:#856404
    }

.alert-info
{
    position:relative;
    padding:0.7em 0.5em;
    margin:0em 0;
    background:#d9edf7;
    color:#31708f;
}

    .alert-info h2
    {
        padding:0;
        margin:0.1em 0 0.4em 0em;
        font-size:1.3em;
        color:#31708f;
    }

    .alert-info .close
    {
        position:absolute;
        right:0;
        top:0;
        padding:6px;
        font-size: 1rem;
        font-weight: 700;
        color:#31708f;
    }



div.pagination {
    padding: 3px;
    margin: 1em 2%;
}

    div.pagination a, div.pagination span {
        border-radius: 2px;
    }

    div.pagination a {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #aad;
        text-decoration: none; /* no underline */
        color: #009;
    }

    div.pagination a:hover, div.pagination a:active {
        border: 1px solid #009;
        color: #000;
    }

    div.pagination #prec
    {
        padding-left:16px;
        background-image:url(../interface/icons/arrow_left.gif);
        background-repeat:no-repeat;
        background-position: 0 70%;
    }

    div.pagination #suiv {
        padding-right:16px;
        background-image:url(../interface/icons/arrow_right.gif);
        background-repeat:no-repeat;
        background-position: 90% 70%;
    }

    div.pagination span.current {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #009;

        font-weight: bold;
        background-color: #009;
        color: #FFF;
    }

    div.pagination span.disabled {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #EEE;
        background:transparent;
        color: #DDD;
    }




/* _navigation_calendrier.inc */
#navigation_agenda
{
    background:#eaeaff;
    color:#5C7378;
}

#navigation_agenda ul#menu_mois
{
    width:200px;
    margin:0;
    background:white;
    text-align:center;
}

#navigation_agenda ul#menu_mois li
{
    display:inline;
    padding:1em;
}

#navigation_agenda ul#menu_mois li#mois_courant
{
    font-weight:bold;

}


table#calendrier tr#mois th#mois_courant
{
    font-size: 1em;
    padding: 0.6em;
    color: #333;
}


table#calendrier
{
    float:left;

    border-spacing:0px;
    border-collapse:collapse;

    /*width:180px;*/
    width:100%; /* plus responsive qu'en px*/
}


table#calendrier tr#mois th
{
    font-size:1em;
    font-weight:bold;
    text-align:center;
    background-color:#FACA1A;
}

table#calendrier tr#jours th
{
    height: 18px;
    font-size:0.8em;
    text-align:center;
    background-color:#eaeaea;
    padding: 0.1em 0;
    color: #333;
}


table#calendrier th#janvier
{
    background:#fefefe;
}

table#calendrier th#fevrier
{
    background:#dedede;
}

table#calendrier #semaines
{
    text-align:center;
    height:0.6em;
    font-size:0.2em;

    border-right:1px solid gray;
    background:#eaeaea;
}

table#calendrier tr.semaine
{
    background:#fafafa;
    border-bottom:#e0e0e0 1px solid;
}

table#calendrier tr.semaine_ici
{
    border:3px solid #6a6a6a;

}

table#calendrier tr.semaine td
{
    text-align:center;
    height:25px;
    vertical-align:middle;
}

/*
table#calendrier tr.semaine_ici td
{
    /border-top:3px solid #6a6a6a;
    /border-bottom:3px solid #6a6a6a;
}
*/

table#calendrier tr.semaine td a
{
    display: block;
    height: 15px;
    padding: 5px 0;
    color: #0934DD;
    /*     width: 20px; */
}

table#calendrier tr#mois th a
{
    color:#444;
}

table#calendrier tr.semaine td a:hover, table#calendrier tr.semaine td a:active
{
    background:#eaeaea;

}

table#calendrier tr.semaine td.autre_mois a
{
    color:#d8d8f7;
}

table#calendrier tr.semaine td.autre_mois .day-without-events
{
    color:#777
}


table#calendrier td.sam, td.dim, td.ferie
{
    background:#efefef;
}

table#calendrier td.past a, table#calendrier tr.semaine td.past a
{
    color:#8e8ef5;
}


table#calendrier #debut_sem_cour
{
    border:1px solid black;
}

table#calendrier #fin_sem_cour
{
    border:1px solid black;
}

table#calendrier #cal_ici
{
    border:2px solid gray;
}

table#calendrier #cette_sem
{
    background:white;
}

table#calendrier .deb_sem
{
    border-left:black 1px solid;
}

table#calendrier td.autre_mois
{
    color:red;
}

table#calendrier td.auj
{
    background-color:yellow;
}


ul#menu_calendrier
{
    list-style-type: none;
    margin:1em 0;
    padding:0 0 0 1em;
    float:left;
    font-size:0.9em;
}

ul#menu_calendrier li
{
    margin:0.4em 0;
    padding:0.2em 0 0.2em 8px;
}

ul#menu_calendrier li form input
{
    border:1px solid gray;
    font-size:1.1em;
    padding:0.2em 0.2em;

}

ul#menu_calendrier li form input.submit
{
    border-top:1px solid gray;
    border-right:1px solid gray;
    border-bottom:1px solid gray;
    border-left:none;
    font-size:0.9em;
    padding: 0.2em 0.3em 0.25em 0.3em;

}

@media screen and (-webkit-min-device-pixel-ratio:0)
{

    ul#menu_calendrier li form input.submit
    {
        padding: 0.4em 0.5em 0.5em 0.5em;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    ul#menu_calendrier li form input.submit
    {
        padding: 0.3em 0.3em 0.3em 0.3em;
    }
}

ul#menu_calendrier li form p
{
    color:#5C7378;
    font-size:0.8em;
    height:1em;
    padding:0.2em 0em;
}
/* _navigation_calendrier.inc  */


/* lieux.php, organisateurs.php */
#derniers_lieux
{
    background-color:#ffffff;
}

#derniers_lieux td
{
text-align: left;
  padding: 0.4em;
  vertical-align: top;
  border-top: 1px dotted #5C7378;
}

#derniers_lieux h2
{
	margin:1em 0em 0.4em 0em;
	padding:0.4em 0em 0.4em 0.2em;
	color:#5C7378;
	font-size:1.1em;
    font-weight:bold;
}

#derniers_lieux h3
{
	font-size:1em;
	margin:0em 0em 0.4em 0em;
	padding:0.4em 0em 0em 0.2em;
	color:#5C7378;
	border-top:1px dotted gray;
}

#derniers_lieux p
{
	margin:0em 0em 0.4em 0em;
	padding:0em 0em 0em 0.2em;
	color:#5C7378;
	font-size:0.95em;
}

#derniers_lieux ul
{
    margin:0;
    padding:0;
    list-style:none;
    background:#fafafa;
}

#derniers_lieux ul li
{
    margin:0.4em 0.2em 0.4em 0.2em;
}

#order_navigation
{
    margin-top: 0.6em;
}

    #order_navigation ul
    {
        float: right;
        display:inline-block;
        margin:0.2em 0;
        padding:0;
        list-style-type: none;
    }

    #order_navigation li
    {
        display:inline-block;
    }

    #order_navigation li:nth-child(1)
    {
        color:#555;
    }

    #order_navigation li a
    {
        padding: 0.3em;
        border-radius:3px;
    }

    #order_navigation li .selected
    {
        background:#eee;
    }

    #order_navigation li a:hover
    {
        background:#d4d4d4;
    }
