header#entete_contenu h1
{
    float:left;
    width:56%;
    margin: 0.1em 0 0 0;
    font-size: 1.5em;
}

/* rss link */
header#entete_contenu h1.accueil a
{
    font-size:12px;
    vertical-align: top;
    color:#f5b045
}

/*#entete_contenu h1#today-date
{
    width:65%;
    font-size: 1.4em;
    margin-top: 0;
}*/

header#entete_contenu h1 small
{
    display: inline-block;
    margin-top: 0.5em;
    font-size: .8em;
    color: #888;
}

header#entete_contenu ul.entete_contenu_navigation
{
    float:right;
    width:44%;
    margin: 0;
    padding-left: 0;
    text-align:right;
}

header#entete_contenu ul.entete_contenu_navigation li
{
    display:inline;
    vertical-align:bottom;
}

header#entete_contenu ul.entete_contenu_navigation li a
{
    padding: 0.6em
}

header#entete_contenu ul.entete_contenu_navigation li:nth-child(1) a
{
    border-radius:3px 0 0 3px;
}

header#entete_contenu ul.entete_contenu_navigation li:nth-child(2) a
{
    border-radius: 0 3px 3px 0;
    background:#e4e4e4;
}

header#entete_contenu ul.entete_contenu_navigation li:nth-child(2) a:hover
{
    background:#d4d4d4;
}

header#entete_contenu ul.entete_contenu_navigation li img
{
    vertical-align:top;
}


.home_banner p
{
    line-height:18px
}



#prochains_evenements
{
    width:94%;
    margin: 0.2em auto 0 auto;
}

#order_navigation
{
    margin-top: 0.2em;
}

#order_navigation ul
{
    float: right;
    display:inline-block;
    margin:0.2em 0;
    padding:0;
    list-style-type: none;
}

#order_navigation li
{
    display:inline-block;
}

#order_navigation li:nth-child(1)
{
    color:#555;
}

#order_navigation li a
{
    padding: 0.3em;
    border-radius:3px;
}

#order_navigation li .selected
{
    background:#eee;
}

#order_navigation li a:hover
{
    background:#d4d4d4;
}

#prochains_evenements section.genre
{
    background:#f8f8f8;
    margin: 0 0 2em 0;
}

#prochains_evenements section.genre .genre-titre
{
    border-top:solid 1px #aeaeae;
    margin: 10px 0;
}

#prochains_evenements section.genre .genre-jump
{
    margin:0.2em 0.2em;
    float: right;
    padding: 0.4em 0.8em;
    font-size:0.9em;
    color: #6086B1;
    background:#f0f0f0;
    border-radius: 3px;
}

#prochains_evenements section.genre .genre-jump:hover
{
    background:#ddd;
}



#prochains_evenements h2
{
    float: left;
    margin-top:0.3em;
    padding:0 1%;
    color:#777;
    font-size:1.3em;
}

#prochains_evenements h3
{
    color:#777;
    font-size:1em;
    margin:0;
}


.evenement
{
    color:#59787A;
    margin: 0.6em 0 1.4em;
    border-top:1px dotted gray;
    width:100%;
}

.evenement .flyer
{
    float:left;
    width:100px;
    height:140px;
    background:#efefef;
    overflow:hidden;
    margin-top:6px;
}

.evenement .titre
{
    padding: 0.4em 0 0.1em;
    font-size:1em;
    font-weight:bold;
    line-height:1.2em;

    -width:90%;
    /*
    border-bottom:1px solid black;
    */
}

.evenement .titre .left
{
    float:left;
    line-height: 1.25em;
    width:58%;
    text-align:left;
    margin:0;
    padding-left:0.1em;
    /*
            background-color:yellow;
    */

}

.evenement .titre .left a:visited {
    color:#0f4786; /* #105199 #104d91*/
}


.evenement .titre .right
{
    float:right;
    width:40%;
    padding:0;
    padding:0 0.2em 0 0 ;
    text-align:right;
    line-height: 1.25em;
    /*
        background-color:aqua;
    */
}

.evenement .titre #titre, #nom_lieu
{
    display:block;
    background-color:#FDD017;
}


.evenement .description
{
    min-height:72px;
    padding:0.4em 0 0.4em 0.5em;
    margin:0;
    color:#3e5355;
    font-size:0.9em;
    background-color:#F9F9F9;
    line-height:1.4em;
    overflow:hidden;
}

.evenement .description p
{
    margin:0;
}

.evenement .description .event_orga
{
    list-style-type:none;
    margin:0.8em 0 0.6em 0;
    padding:0.1em;
    position:relative;
    bottom:0
}

.event_orga li
{
    margin: 0.3em 0.1em 0.1em 0.1em;
    padding:0.2em;
    display:inline-block;
    background:#efefef;
    border-radius:3px;
}

.evenement .description .event_orga .lien_ext
{
    font-size: 0.9em;
}



.evenement .description h2
{
    font-size:1em;
    font-weight:bold;
}

.evenement .adresse
{
    background:#E6EDF7;
}

.evenement .pratique
{
    background:#E6EDF7;
    font-size:0.8em;
    border:1px solid #eaeaea;
    padding:0.4em 0.2em;
    line-height: 1.3em;
}

.evenement .pratique .left
{
    float:left;
    padding:0 0 0 0.2em;
    width:59%;
    text-align:left;
}

.evenement .pratique .right
{
    float:right;
    width:39%;
    padding:0 0.2em 0 0;
    text-align:right;
}

.evenement .edition
{
    height:1.6em;
    font-size:0.9em;
}

ul.menu_action
{
    float:left;
    height:1.6em;
    margin:.3em 0 0 0;
    padding: 0;
    display:inline;
}

ul.menu_action li
{
    height:1.6em;
    display:inline;
    margin:.8em .3em;
}

ul.menu_action li a
{
    padding:.3em;
}

ul.menu_action li a.signaler, ul.menu_action li a.ical
{
    color:#a6a5a5;
}

ul.menu_action li a.signaler:hover, ul.menu_action li a.signaler:active,
ul.menu_action li a.ical:hover, ul.menu_action li a.ical:active
{
    color:#1569C7;
}


ul.menu_action li img
{
    vertical-align: middle;
}

ul.menu_edition
{
    float:right;
    height:1.6em;
    text-align:right;
    padding:0.4em 0;
    margin:0;
}

ul.menu_edition li
{
    height:1.6em;
    display:inline;
    margin:0 0.2em;
}

ul.menu_edition li img
{
    vertical-align: middle;
}

#prochains_evenements table
{
    width:95%;
    margin:0em auto 0em auto;
    color:#5C7378;
    background:#F7F7F5;
    border:1px solid #5C7378;
    border-collapse:collapse;
}

#prochains_evenements table th
{

    text-align:left;
    border:1px solid #5C7378;
    background:#dadada;
}


#prochains_evenements table td
{
    text-align:left;
    padding:0.2em;
    vertical-align:top;
    border-top:1px dashed #5C7378;
}

.lien_lieu
{
    float:right;
}


#fetes_s
{
    width:95%;
}

#fetes_s .evenement
{

}

#fete_s .evenement .flyer
{
    width:80px;
    height:120px;
}

.rappel_date
{
    margin: .2em 0 1.2em;
    color: #888;
    font-size: 1em;
}




.secondaire
{
    margin-top:15px;
    font-size:0.95em;
    color:#5a7175;
    background:#ffffff;
    width: 100%;
}

.secondaire h2
{
    padding:0.2em 0;

    font-size:1em;
    font-weight:bold;
    line-height:1.2em;
    margin:0em 0 0.4em 0.4em;
}

.secondaire ul.autour
{
    position:relative;
    list-style-type: none;
    padding-left:5px
}

.secondaire ul.autour.partenaires li
{
    margin:2px 0;
    float:left;
}

.secondaire ul.autour.partenaires li img
{
    border:1px solid #eaeaea;
}

.secondaire .autour li
{
    display:inline-block;
}

.secondaire .lien_rss
{
    float:right;
    margin-top:0.4em;
    padding:0.2em;
}
.secondaire .lien_rss .fa-rss
{
    color:#f5b045
}


#derniers_evenements
{
    font-size:0.9em;
    background:#fafafa;
    margin:0.2em 0 1em 0;

}

.dernier_evenement
{
    border-bottom:1px dotted gray;
    margin:0.5em 0;
    padding:0 0 0.4em 0;
    line-height:1.3em;
}

.dernier_evenement .flyer
{
    background:#f0f0f0;
    float:left;
    width:60px;
    height:80px;
    overflow:hidden;
    margin-right:3px;
}

.dernier_evenement h3
{
    font-size:1em;
    font-weight:bold;
    line-height:1.2em;
    padding:0 0.1em 0.4em 0.1em;
}

.dernier_evenement h3 a:visited {
    color:#0f4786; /* #105199  #104d91*/
}

.dernier_evenement h3
{
    font-weight:bold;
    font-size:1em;
    color:#5C7378;
    padding:0 0.1em 0.4em 0.1em;
}


#partenaires ul
{
    margin:1em 0em 0em 0em;
    color:#5C7378;
    font-size:1em;
    border:1px solid #5C7378;
    background:#FEFEFE;
    line-height:1.2em;
}

#partenaires h2
{
    padding:0.2em 0.1em;
    font-size:1.4em;
    font-weight:bold;
    color:#5C7378;
    background-color:#EAEAEA;
    height:1.4em;
}

#faireundon_btn
{
    position:absolute;
    top: 3px;
    display:inline-block;
    font-size:1.2em;
    margin-left:15px
}

#faireundon_btn a
{
    font-size:1em;
    background: #ffe771;
    padding: 5px;
    border-radius: 4px;
}
