header#entete_contenu h1
{
    float:left;
    width:56%;
    margin: 0.1em 0 0 0;
    font-size: 1.5em;
}

/* rss link */
header#entete_contenu h1.accueil a
{
    font-size:12px;
    vertical-align: top;
    color:#f5b045
}

/*#entete_contenu h1#today-date
{
    width:65%;
    font-size: 1.4em;
    margin-top: 0;
}*/

header#entete_contenu h1 small
{
    display: inline-block;
    margin-top: 0.5em;
    font-size: .8em;
    color: #888;
}

ul.entete_contenu_navigation
{
    float:right;
    width:43%;
    margin: 0;
    padding-left: 0;
    text-align:right;
}

ul.entete_contenu_navigation li
{
    display:inline;
    vertical-align:bottom;
}

ul.entete_contenu_navigation li a
{
    padding: 0.6em
}

ul.entete_contenu_navigation li:nth-child(1) a
{
    border-radius:3px 0 0 3px;
}

ul.entete_contenu_navigation li:nth-child(2) a
{
    border-radius: 0 3px 3px 0;
    background:#e4e4e4;
}

ul.entete_contenu_navigation li:nth-child(2) a:hover
{
    background:#d4d4d4;
}

ul.entete_contenu_navigation li img
{
    vertical-align:top;
}


.home_banner p
{
    line-height:18px
}



#prochains_evenements
{
    width:94%;
    margin: 0.2em auto 0 auto;
}

#order_navigation
{
    margin-top: 0.6em;
}

    #order_navigation ul
    {
        float: right;
        display:inline-block;
        margin:0.2em 0;
        padding:0;
        list-style-type: none;
    }

    #order_navigation li
    {
        display:inline-block;
    }

    #order_navigation li:nth-child(1)
    {
        color:#555;
    }

    #order_navigation li a
    {
        padding: 0.3em;
        border-radius:3px;
    }

    #order_navigation li .selected
    {
        background:#eee;
    }

    #order_navigation li a:hover
    {
        background:#d4d4d4;
    }

#prochains_evenements section.genre
{
    background:#f8f8f8;
    margin: 0 0 2em 0;
}

#prochains_evenements section.genre .genre-titre
{
    border-top:solid 1px #aeaeae;
    margin: 10px 0;
}

#prochains_evenements section.genre .genre-jump
{
    margin:0.2em 0.2em;
    float: right;
    padding: 0.4em 0.8em;
    font-size:0.9em;
    color: #6086B1;
    background:#f0f0f0;
    border-radius: 3px;
}

#prochains_evenements section.genre .genre-jump:hover
{
    background:#ddd;
}



#prochains_evenements h2
{
    float: left;
    margin-top:0.3em;
    padding:0 1%;
    color:#777;
    font-size:1.3em;
}

#prochains_evenements h3
{
    color:#777;
    font-size:1em;
    margin:0;
}


#prochains_evenements table
{
    width:95%;
    margin:0em auto 0em auto;
    color:#5C7378;
    background:#F7F7F5;
    border:1px solid #5C7378;
    border-collapse:collapse;
}

#prochains_evenements table th
{

    text-align:left;
    border:1px solid #5C7378;
    background:#dadada;
}


#prochains_evenements table td
{
    text-align:left;
    padding:0.2em;
    vertical-align:top;
    border-top:1px dashed #5C7378;
}

.lien_lieu
{
    float:right;
}


#fetes_s
{
    width:95%;
}

    #fetes_s .evenement
    {

    }

    #fete_s .evenement .flyer
    {
        width:80px;
        height:120px;
    }

.rappel_date
{
    margin: .2em 0 1.2em;
    color: #888;
    font-size: 1em;
}

.secondaire
{
    margin-top:15px;
    font-size:0.95em;
    color:#5a7175;
    background:#ffffff;
    width: 100%;
}

    .secondaire h2
    {
        padding:0.2em 0;

        font-size:1em;
        font-weight:bold;
        line-height:1.2em;
        margin:0em 0 0.4em 0.4em;
    }

    .secondaire ul.autour
    {
        position:relative;
        list-style-type: none;
        padding-left:5px
    }

    .secondaire ul.autour.partenaires li
    {
        margin:2px 0;
        float:left;
    }

    .secondaire ul.autour.partenaires li img
    {
        border:1px solid #eaeaea;
    }

    .secondaire .autour li
    {
        display:inline-block;
    }

    .secondaire .lien_rss
    {
        float:right;
        margin-top:0.4em;
        padding:0.2em;
    }
    .secondaire .lien_rss .fa-rss
    {
        color:#f5b045
    }


#derniers_evenements
{
    font-size:0.9em;
    background:#fafafa;
    margin:0.2em 0 1em 0;

}

.dernier_evenement
{
    border-bottom:1px dotted gray;
    margin:0.5em 0;
    padding:0 0 0.4em 0;
    line-height:1.3em;
}

    .dernier_evenement .flyer
    {
        background:#f0f0f0;
        float:left;
        width:60px;
        height:80px;
        overflow:hidden;
        margin-right:3px;
    }

    .dernier_evenement h3
    {
        font-size:1em;
        font-weight:bold;
        line-height:1.2em;
        padding:0 0.1em 0.4em 0.1em;
    }

    .dernier_evenement h3 a:visited {
        color:#0f4786; /* #105199  #104d91*/
    }

    .dernier_evenement h3
    {
        font-weight:bold;
        font-size:1em;
        color:#5C7378;
        padding:0 0.1em 0.4em 0.1em;
    }


#partenaires ul
{
    margin:1em 0em 0em 0em;
    color:#5C7378;
    font-size:1em;
    border:1px solid #5C7378;
    background:#FEFEFE;
    line-height:1.2em;
}

#partenaires h2
{
    padding:0.2em 0.1em;
    font-size:1.4em;
    font-weight:bold;
    color:#5C7378;
    background-color:#EAEAEA;
    height:1.4em;
}

#faireundon_btn
{
    position:absolute;
    top: 3px;
    display:inline-block;
    font-size:1.2em;
    margin-left:15px
}

#faireundon_btn a
{
    font-size:1em;
    background: #ffe771;
    padding: 5px;
    border-radius: 4px;
}
