#contenu
{
color:#5E5E5F;
line-height:1.2em;
}


#contenu .rubrique 
{
 margin:1em 4em 0em 1em;
/* width:95%; */
background:#fefefe;
}

#contenu .rubrique dt
{
	font-size:1em;
	font-weight:bold;
	margin:1.4em 0 0.4em 0.4em;
}

#contenu .rubrique dd
{
	margin:0.4em 0 0.4em 1.4em;
}

#contenu .rubrique h3
{
font-size:1.2em;
font-weight:bold;
margin:1em 0 0.4em 0em;
}


#contenu .rubrique h4
{
font-size:1em;
font-weight:bold;
margin:1em 0 0.4em 0.6em;
}


#contenu p
{

margin:0em 1em 1em 1em;
}

#contenu ul
{
color:#5E5E5F;
margin:0.6em 0 0 3em;
}

#contenu ul li
{
padding:0.2em 0em;
}



#contenu .rubrique table
{
border-collapse:collapse;
margin:0.4em 1em;
}

#contenu .rubrique table th
{
text-align:right;
width:20%;
}

#contenu .rubrique table td
{
padding:0.2em 0.4em;
}






